<section class="section-pizzas">
  <div class="bg">
    <div class="info">
      <div class="line">
        <a href="/just-product">HOME/</a>
        <span>PIZZAS</span>
      </div>
      <h2 class="title">PIZZAS</h2>
    </div>
  </div>
</div>

