<section class="section-pollos">
  <div class="bg">
    <div class="info">
      <div class="line">
        <a href="/just-product">HOME/</a>
        <span>POLLOS A LA BRASA</span>
      </div>
      <h2 class="title">POLLOS A LA BRASA</h2>
    </div>
  </div>
</div>

