<div class="section-favorites">
  <img
    id="favoriteButtonClose"
    style="cursor: pointer; position: absolute; left: 96%; top: 2%"
    width="40"
    height="40"
    src="./img/equisCart.png"
    alt=""
  />
  <h1 style="text-align: center;">Mis favoritos</h1>
  <div class="content-favorites">
    <div class="list-favorites">
      <div class="item-favorite">
        <a class="delete-favorte">Delete</a>
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/03/dessert1-440x440.jpg"
          alt=""
        />

        <p class="title"><a href="#"> Hand-Scooped Ice Cream </a></p>
        <span class="price"
          >$5.99
          <p></p
        ></span>
        <button class="add-to-cart">Add to Cart</button>
      </div>

      <div class="item-favorite">
        <a class="delete-favorte">Delete</a>
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/03/dessert1-440x440.jpg"
          alt=""
        />

        <p class="title"><a href="#"> Hand-Scooped Ice Cream </a></p>
        <span class="price"
          >$5.99
          <p></p
        ></span>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="item-favorite">
        <a class="delete-favorte">Delete</a>
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/03/dessert1-440x440.jpg"
          alt=""
        />

        <p class="title"><a href="#"> Hand-Scooped Ice Cream </a></p>
        <span class="price"
          >$5.99
          <p></p
        ></span>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="item-favorite">
        <a class="delete-favorte">Delete</a>
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/03/dessert1-440x440.jpg"
          alt=""
        />

        <p class="title"><a href="#"> Hand-Scooped Ice Cream </a></p>
        <span class="price"
          >$5.99
          <p></p
        ></span>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="item-favorite">
        <a class="delete-favorte">Delete</a>
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/03/dessert1-440x440.jpg"
          alt=""
        />

        <p class="title"><a href="#"> Hand-Scooped Ice Cream </a></p>
        <span class="price"
          >$5.99
          <p></p
        ></span>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="item-favorite">
        <a class="delete-favorte">Delete</a>
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/03/dessert1-440x440.jpg"
          alt=""
        />

        <p class="title"><a href="#"> Hand-Scooped Ice Cream </a></p>
        <span class="price"
          >$5.99
          <p></p
        ></span>
        <button class="add-to-cart">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
