<section class="just-product">
  <div class="product-content">
    <img class="img-product" src="/img/burguer.jpg" alt="" />
    <div class="product-description">
      <h2 class="title-product">Jalapeno Angus Burgaler</h2>
      <p class="parrafo-product">
        Smoked brisket, tender ribs, smoked sausage, bacon & cheddar with
        lettuce, tomato, house BBQ & ranch.
      </p>
      <div class="nutricional-info">
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
      </div>
      <p class="mensaje-product">
        *DI: Recommended Daily Intake based on 2000 calories diet
      </p>
      <p class="advertencia-product">Alergenos: leche, huevos, soja, glutten</p>
      <p class="product-price">
        <span class="moneda">$</span>
        <span class="price-int">8</span>
        <span class="price-dec">.11</span>
      </p>
      <div class="extra-options-product">
        <h2 class="extra-title">EXTRA TOPPINGS</h2>
        <form action="">
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
        </form>
      </div>
      <div class="extra-total-price">
        <span class="extra">
          <p>Options total</p>
          <p></p>
          <div>
            <span>$</span>
            <span>2</span>
            <span>.11</span>
          </div>
        </span>
        <span class="total">
          <p>Options total</p>
          <p></p>
          <div>
            <span>$</span>
            <span>2</span>
            <span>.11</span>
          </div>
        </span>
      </div>
      <div class="buttons-orders">
        <input type="range" name="" id="" />
        <button>Order</button>
        <span>Favorite +</span>
        <p>Category : <span>Pollos</span></p>
      </div>
    </div>
  </div>
</section>

<section class="reviews&description-product">
  <div class="description-product-complete">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quisquam
      tempora vel fugiat. Quaerat saepe omnis earum rem in nemo laudantium quis
      non. Aliquid, facere consequatur amet quasi iste in!
    </p>
  </div>
  <div class="review-product-complete">
    <div class="list-reviews">
      <h2>Reviews</h2>

      <!---->
      <div class="item-review">
        <img src="" alt="" />
        <span class="calificacion"></span>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas.
        </p>
      </div>

      <!---->
      <!---->
      <div class="item-review">
        <img src="" alt="" />
        <span class="calificacion"></span>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas.
        </p>
      </div>

      <!---->
      <!---->
      <div class="item-review">
        <img src="" alt="" />
        <span class="calificacion"></span>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas.
        </p>
      </div>

      <!---->
    </div>
    <div class="review-form">
      <form action="">
        <h2 class="review-title">
          Be the first to review “Jalapeno Angus Burger”
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quae fugiat velit!
        </p>

        <span class="calificacion">
          <p>YOUR RATING *</p>
          <span> estrellitas </span>
        </span>
        <div class="form-description">
          <label for="">Your Review</label>
          <input type="text" />
        </div>
        <div class="form-user">
          <div class="name">
            <label for="">Name</label>
            <input type="text" />
          </div>
          <div class="email">
            <label for="">Email</label>
            <input type="email" />
          </div>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</section>
