<section class="just-product">
  <div class="product-content">
    <img class="img-product" src="/img/pollo_brasa.png" alt="" />
    <div class="product-description">
      <h2 class="title-product">Jalapeno Angus Burgaler</h2>
      <p class="parrafo-product">
        Smoked brisket, tender ribs, smoked sausage, bacon & cheddar with
        lettuce, tomato, house BBQ & ranch.
      </p>
      <div class="nutricional-info">
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
      </div>
      <p class="mensaje-product">
        *DI: Recommended Daily Intake based on 2000 calories diet
      </p>
      <p class="advertencia-product">Alergenos: leche, huevos, soja, glutten</p>
      <p class="product-price">
        <span class="moneda">$</span>
        <span class="price-int">8</span>
        <span class="price-dec">.11</span>
      </p>
      <div class="extra-options-product">
        <h2 class="extra-title">EXTRA TOPPINGS</h2>
        <form action="">
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
        </form>
      </div>
      <div class="extra-total-price">
        <span class="extra">
          <p>Options total</p>
          <div class="price">
            <span class="dolar">$</span>
            <span class="entero">2</span>
            <span class="decimal"> .11</span>
          </div>
        </span>
        <span class="total">
          <p>Options total</p>
          <div class="price">
            <span class="dolar">$</span>
            <span class="entero">2</span>
            <span class="decimal">.11</span>
          </div>
        </span>
      </div>
      <div class="buttons-orders">
        <div class="quant">
          <button type="button" id="btn-" class="btn-minus">-</button>
          <input type="text" value="1" id="quantity" />
          <button type="button" id="btn+" class="btn-plus">+</button>
        </div>
        <script>
          let valueCount = 0;
          document
            .getElementById("btn+")
            .addEventListener("click", function () {
              valueCount = document.getElementById("quantity").value;
              valueCount++;
              document.getElementById("quantity").value = valueCount;
            });
          document
            .getElementById("btn-")
            .addEventListener("click", function () {
              valueCount = document.getElementById("quantity").value;
              valueCount--;
              if (valueCount <= 1) {
                document.getElementById("quantity").value = 1;
              } else {
                document.getElementById("quantity").value = valueCount;
              }
            });
        </script>
        <button class="order">Order</button>
        <span class="favorite">
          <i style="font-size: 25px" class="far" aria-hidden="true"></i>
        </span>
      </div>

      <p class="category">
        Category :
        <span class="cat">Pollos</span>, <span class="cat">Pollos</span>,
        <span class="cat">Pollos</span>,
        <span class="cat">Pollos</span>
      </p>
    </div>
  </div>
</section>

<section class="reviews_description-product">
  <ul>
    <a class="select-description" id="select-des"> Descripccion </a>
    <a class="select-review" id="select-rev"> Reviews(<span>1</span>) </a>
  </ul
  padding-bottom:3em>
  <div id="description-parrafo" class="description-parrafo">
    <p>
      Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonum
      nibhie euismod. Facilisis at vero eros et accumsan et iusto odio dignissim
      qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
      nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
      nihil imperdiet doming id quod mazim placerat facer possim assum.
    </p>
  </div>
  <div id="review-product-complete" class="review-product-complete">


    <div class="list-reviews">

      <h2>Reviews</h2>
       <!---->
      <div class="item-review">
        <img src="/img/foto.png" alt="" />
        <span class="calificacion">
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star " aria-hidden="true"></i>
        </span>

            <p class="info-user">Althemist <span class="date">– June 14, 2019</span> </p>
        <p class="parrafo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas f wefd.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique voluptas provident minus?
        </p>
      </div>
      <!---->
     <!---->
      <div class="item-review">
        <img src="/img/foto.png" alt="" />
        <span class="calificacion">
          <i class="active fa fa-star color-star" aria-hidden="true"></i>
          <i class="active fa fa-star color-star" aria-hidden="true"></i>
          <i class="active fa fa-star color-star" aria-hidden="true"></i>
          <i class="active fa fa-star color-star" aria-hidden="true"></i>
          <i class="active fa fa-star " aria-hidden="true"></i>
        </span>

            <p class="info-user">Althemist <span class="date">– June 14, 2019</span> </p>
        <p class="parrafo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas f wefd.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique voluptas provident minus?
        </p>
      </div>
      <!---->

      <!---->
      <div class="item-review">
        <img src="/img/foto.png" alt="" />
        <span class="calificacion">
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star " aria-hidden="true"></i>
        </span>

            <p class="info-user">Althemist <span class="date">– June 14, 2019</span> </p>
        <p class="parrafo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas f wefd.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique voluptas provident minus?
        </p>
      </div>
      <!---->
      <!---->
      <div class="item-review">
            <img src="/img/foto.png" alt="" />
            <span class="calificacion">
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star " aria-hidden="true"></i>
        </span>

      <p class="info-user">Althemist <span class="date">– June 14, 2019</span> </p>
        <p class="parrafo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas f wefd.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique voluptas provident minus?
        </p>
      </div>
      <!---->
            <!---->
      <div class="item-review">
        <img src="/img/foto.png" alt="" />
        <span class="calificacion">
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star " aria-hidden="true"></i>
        </span>

            <p class="info-user">Althemist <span class="date">– June 14, 2019</span> </p>
        <p class="parrafo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas f wefd.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique voluptas provident minus?
        </p>
      </div>
      <!---->

      <div class="item-review">
        <img src="/img/foto.png" alt="" />
        <span class="calificacion">
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
        <i class="active fa fa-star color-star" aria-hidden="true"></i>
            <i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star color-star" aria-hidden="true"></i>
<i class="active fa fa-star " aria-hidden="true"></i>
        </span>

            <p class="info-user">Althemist <span class="date">– June 14, 2019</span> </p>
        <p class="parrafo">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas f wefd.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique voluptas provident minus?
        </p>
      </div>
      <!---->

    </div>
    <div class="review-form">
      <form action="">
        <h2 class="review-title">
          Be the first to review “Jalapeno Angus Burger”
        </h2>
        <p class="des">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quae fugiat velit!
        </p>

        <span class="calificacion">
          <p class="title-cal">YOUR RATING *</p>

<div id="full-stars-example">
    <div class="rating-group">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none">
          <i class="rating__icon rating__icon--none fa fa-ban">
          </i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star">
          </i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star">
          </i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star">
          </i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star">
         
          </i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star">
          </i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>

        </span>
        <script>
          window.onload = () => {
                
          }

          const rating0 = document.getElementById("rating-none");
          rating0.addEventListener("click", () => {
            count(0);
          });

          const rating1 = document.getElementById("rating-1");
          rating1.addEventListener("click", () => {
            count(1);
          });
          const rating2 = document.getElementById("rating-2");
          rating2.addEventListener("click", () => {
            count(2);
          });
          const rating3 = document.getElementById("rating-3");
          rating3.addEventListener("click", () => {
            count(3);
          });
          const rating4 = document.getElementById("rating-4");
          rating4.addEventListener("click", () => {
            count(4);
          });
          const rating5 = document.getElementById("rating-5");
          rating5.addEventListener("click", () => {
            count(5);
          });

          function count(n) {
            const input = document.getElementById("res");
            input.value = n;
          }
        </script>

        <div class="form-description">
          <label for="">Your Review</label> <br>
          <textarea name="" id="" cols="85" rows="8"></textarea>
        </div>
        <div class="form-user">
          <div class="name">
            <label for="">Name</label>
            <input type="text" />
          </div>
          <div class="email"> 
            <label for="">Email</label>
            <input type="email" />
          </div>
        </div>
        <div class="checkbox" style="margin: 3em 0 0.4em 0;">   
        <input type="checkbox" name="" id="" >
        <label for=""> SAVE MY NAME, EMAIL, AND WEBSITE IN THIS BROWSER FOR THE NEXT TIME I COMMENT.</label>
        </div>

        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</section>

<section class="other-products">
  <h2>Other <a href=""> Sides</a> You'll Love</h2>
  <div class="list">
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
  </div>
</section>
<div class="flechas-after-before">
  <a href="#" class="left">
    <span class="icon">
      <img src="/img/flecha-left.png" alt="" />
    </span>
    <div>
      <p class="direccion">PREV PRODUCT</p>
      <p class="title-product">Meat Sfari Pizza</p>
    </div>
  </a>
  <a href="#" class="right">
    <div>
      <p class="direccion">PREV PRODUCT</p>
      <p class="title-product">Meat Sfari Pizza</p>
    </div>

    <span class="icon">
      <img src="/img/flecha-right.png" alt="" />
    </span>
  </a>
</div>
<script>
  window.onload = () => {
    const DescripccionSelect = document.getElementById("select-des");
    const descriptionParrafo = document.getElementById("description-parrafo");
    const ReviewSelect = document.getElementById("select-rev");
    const reviewForm = document.getElementById("review-product-complete");
    ReviewSelect.classList.add("active");
    reviewForm.style.display = "flex";

    DescripccionSelect.addEventListener("click", () => {
      DescripccionSelect.classList.add("active");
      ReviewSelect.classList.remove("active");
      descriptionParrafo.style.display = "flex";
      reviewForm.style.display = "none";
    });
    ReviewSelect.addEventListener("click", () => {
      console.log("click review");
      DescripccionSelect.classList.remove("active");
      ReviewSelect.classList.add("active");
      reviewForm.style.display = "flex";
      descriptionParrafo.style.display = "none";
    });
  };
</script>
