<section class="just-product">
  <div class="product-content">
    <img class="img-product" src="/img/burguer.jpg" alt="" />
    <div class="product-description">
      <h2 class="title-product">Jalapeno Angus Burgaler</h2>
      <p class="parrafo-product">
        Smoked brisket, tender ribs, smoked sausage, bacon & cheddar with
        lettuce, tomato, house BBQ & ranch.
      </p>
      <div class="nutricional-info">
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
        <div class="propiedad">
          <span class="name">ENERGY</span>
          <p>430 Cal</p>
        </div>
      </div>
      <p class="mensaje-product">
        *DI: Recommended Daily Intake based on 2000 calories diet
      </p>
      <p class="advertencia-product">Alergenos: leche, huevos, soja, glutten</p>
      <p class="product-price">
        <span class="moneda">$</span>
        <span class="price-int">8</span>
        <span class="price-dec">.11</span>
      </p>
      <div class="extra-options-product">
        <h2 class="extra-title">EXTRA TOPPINGS</h2>
        <form action="">
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
          <span class="select">
            <input type="checkbox" name="" id="" />
            <p>EXTRA CHEDDAR ($1.00)</p>
          </span>
        </form>
      </div>
      <div class="extra-total-price">
        <span class="extra">
          <p>Options total</p>
          <div class="price">
            <span class="dolar">$</span>
            <span class="entero">2</span>
            <span class="decimal"> .11</span>
          </div>
        </span>
        <span class="total">
          <p>Options total</p>
          <div class="price">
            <span class="dolar">$</span>
            <span class="entero">2</span>
            <span class="decimal">.11</span>
          </div>
        </span>
      </div>
      <div class="buttons-orders">
        <div class="quant">
          <button type="button" id="btn-" class="btn-minus">-</button>
          <input type="text" value="1" id="quantity" />
          <button type="button" id="btn+" class="btn-plus">+</button>
        </div>
        <script>
          let valueCount = 0;
          document
            .getElementById("btn+")
            .addEventListener("click", function () {
              valueCount = document.getElementById("quantity").value;
              valueCount++;
              document.getElementById("quantity").value = valueCount;
            });
          document
            .getElementById("btn-")
            .addEventListener("click", function () {
              valueCount = document.getElementById("quantity").value;
              valueCount--;
              if (valueCount <= 1) {
                document.getElementById("quantity").value = 1;
              } else {
                document.getElementById("quantity").value = valueCount;
              }
            });
        </script>
        <button class="order">Order</button>
        <span class="favorite">
          <i style="font-size: 25px" class="far" aria-hidden="true"></i>
        </span>
      </div>

      <p class="category">
        Category :
        <span class="cat">Pollos</span>, <span class="cat">Pollos</span>,
        <span class="cat">Pollos</span>,
        <span class="cat">Pollos</span>
      </p>
    </div>
  </div>
</section>

<section class="reviews_description-product">
  <ul>
    <a class="select-description"> Descripccion </a>
    <a class="select-review"> Reviews(<span>1</span>) </a>
  </ul>
  <div class="description-parrafo">
    <p>
      Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonum
      nibhie euismod. Facilisis at vero eros et accumsan et iusto odio dignissim
      qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
      nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
      nihil imperdiet doming id quod mazim placerat facer possim assum.
    </p>
  </div>
  <div class="review-product-complete">
    <div class="list-reviews">
      <h2>Reviews</h2>

      <!---->
      <div class="item-review">
        <img src="" alt="" />
        <span class="calificacion"></span>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas.
        </p>
      </div>

      <!---->
      <!---->
      <div class="item-review">
        <img src="" alt="" />
        <span class="calificacion"></span>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas.
        </p>
      </div>

      <!---->
      <!---->
      <div class="item-review">
        <img src="" alt="" />
        <span class="calificacion"></span>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas.
        </p>
      </div>

      <!---->
    </div>
    <div class="review-form">
      <form action="">
        <h2 class="review-title">
          Be the first to review “Jalapeno Angus Burger”
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quae fugiat velit!
        </p>

        <span class="calificacion">
          <p>YOUR RATING *</p>
          <span> estrellitas </span>
        </span>
        <div class="form-description">
          <label for="">Your Review</label>
          <input type="text" />
        </div>
        <div class="form-user">
          <div class="name">
            <label for="">Name</label>
            <input type="text" />
          </div>
          <div class="email">
            <label for="">Email</label>
            <input type="email" />
          </div>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</section>

<section class="other-products">
  <h2>Other <a href=""> Sides</a> You'll Love</h2>
  <div class="list">
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
    <div class="item">
      <img
        src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/04/salad2-440x440.jpg"
        alt=""
      />
      <p>Quesadilla Explosion Salad</p>
    </div>
  </div>
</section>
<div class="flechas-after-before">
  <a href="#" class="left">
    <span class="icon">
      <img src="/img/flecha-left.png" alt="" />
    </span>
    <div>
      <p class="direccion">PREV PRODUCT</p>
      <p class="title-product">Meat Sfari Pizza</p>
    </div>
  </a>
  <a href="#" class="right">
    <div>
      <p class="direccion">PREV PRODUCT</p>
      <p class="title-product">Meat Sfari Pizza</p>
    </div>

    <span class="icon">
      <img src="/img/flecha-right.png" alt="" />
    </span>
  </a>
</div>
