<section class="product-section">

 <div class="portada">
            <div class="eslogan">
               <h1>
                  <span class="one-title">YOUR BURGUER</span>
                  <span class="two-title">YOUR WAY</span>
               </h1>
               <p>Save in order outs</p>
            </div>

            <img
               src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/06/build-burger2.png"
               alt=""
            />
         </div>

</section>
      <section class="home-product">
         <div class="titles">
            <span>Nuevos Productos</span>
            <h1>CHAR-GRILLED BURGERS</h1>
            <p>
               Hand-crafted fresh to order. Smashed to lock in flavor on a
               toasted brioche bun. Served with garlic dill pickles fries
            </p>
         </div>
         <div class="product-list">
            <div class="product">
               <div class="image-product">
                  <img
                     src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger17-440x440.jpg"
                     alt=""
                  />
                  <span class="price-product">

  <span class="simbol">$</span>
                        <span class="int">11</span>
                        <span class="small">.99</span>
                  </span>
                  <span class="valoracion-product"></span>
                  <span class="corazon"></span>
               </div>
               <div class="info-product">
                  <span></span>
                  Bacon Cheeseburger
                  <p>
                     Smoked brisket, tender ribs, smoked sausage, bacon &
                     cheddar with lettuce, tomato, house BBQ & ranch.
                  </p>
                  <button>Order Now</button>
               </div>
               </div>


 <div class="product">
               <div class="image-product">
                  <img
                     src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger17-440x440.jpg"
                     alt=""
                  />
                  <span class="price-product">

  <span class="simbol">$</span>
                        <span class="int">11</span>
                        <span class="small">.99</span>
                  </span>
                  <span class="valoracion-product"></span>
                  <span class="corazon"></span>
               </div>
               <div class="info-product">
                  <span></span>
                  Bacon Cheeseburger
                  <p>
                     Smoked brisket, tender ribs, smoked sausage, bacon &
                     cheddar with lettuce, tomato, house BBQ & ranch.
                  </p>
                  <button>Order Now</button>
               </div>
               </div>
 <div class="product">
               <div class="image-product">
                  <img
                     src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger17-440x440.jpg"
                     alt=""
                  />
                  <span class="price-product">



  <span class="simbol">$</span>
                        <span class="int">11</span>
                        <span class="small">.99</span>
                  </span>
                  <span class="valoracion-product"></span>
                  <span class="corazon"></span>
               </div>
               <div class="info-product">
                  <span></span>
                  Bacon Cheeseburger
                  <p>
                     Smoked brisket, tender ribs, smoked sausage, bacon &
                     cheddar with lettuce, tomato, house BBQ & ranch.
                  </p>
                  <button>Order Now</button>
               </div>
               </div>


 <div class="product">
               <div class="image-product">
                  <img
                     src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger17-440x440.jpg"
                     alt=""
                  />
                  <span class="price-product">

  <span class="simbol">$</span>
                        <span class="int">11</span>
                        <span class="small">.99</span>
                  </span>
                  <span class="valoracion-product"></span>
                  <span class="corazon"></span>
               </div>
               <div class="info-product">
                  <span></span>
                  Muchos Cheeseburger
                  <p>
                     Smoked brisket, tender ribs, smoked sausage, bacon &
                     cheddar with lettuce, tomato, house BBQ & ranch.
                  </p>
                  <button>Order Now</button>
               </div>
</div>

 <div class="product">
               <div class="image-product">
                  <img
                     src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger17-440x440.jpg"
                     alt=""
                  />
                  <span class="price-product">
                        <span class="simbol">$</span>
                        <span class="int">11</span>
                        <span class="small">.99</span>
                  </span>
                  <span class="valoracion-product"></span>
                  <span class="corazon"></span>
               </div>
               <div class="info-product">
                  <span>Bacon Cheeseburger</span>
                  
                  <p>
                     Smoked brisket, tender ribs, smoked sausage, bacon &
                     cheddar with lettuce, tomato, house BBQ & ranch.
                  </p>
                  <button>Order Now</button>
               </div>

               </div>

            </div>


         </div>


      </section>
