<div class="section-logins">
  <img
    id="userButtonClose"
    style="cursor: pointer; position: absolute; left: 96%; top: 2%"
    width="40"
    height="40"
    src="./img/equisCart.png"
    alt=""
  />

  <img
    style="position: absolute"
    width="170px"
    height="170px"
    src="/img/logo2.png"
  />

  <div class="content-login-register">
    <span class="select-logins-register">
      <p id="login-active">Login</p>
      <span id="register-active">Register</span>
    </span>
    <div class="login-form" id="login-form">
      <form action="" method="post">
        <div class="item-form">
          <label for="">Username*</label>
          <input type="text" />
        </div>
        <div class="item-form">
          <label for="">Password*</label>
          <input type="text" />
        </div>
        <button class="button-login">Log in</button>
        <p class="not-cuenta">
          No tiene una cuenta, cree una <a href="#">Aqui</a>
        </p>
      </form>
    </div>
    <div class="register-form" id="register-form">
      <form action="" method="post">
        <div class="item-form">
          <label for="">Email*</label>
          <input type="text" />
        </div>
        <div class="item-form">
          <label for="">Username*</label>
          <input type="text" />
        </div>
        <div class="item-form">
          <label for="">Password*</label>
          <input type="text" />
        </div>
        <div class="item-form">
          <label for="">Password Repeat*</label>
          <input type="text" />
        </div>
        <button class="button-login">Log in</button>
        <p class="not-cuenta">
          No tiene una cuenta, cree una <a href="#">Aqui</a>
        </p>
      </form>
    </div>
  </div>
</div>
