<section class="section-user">
  <div class="bg">
    <div class="info">
      <div class="line">
        <a href="/just-product">HOME</a>
        <span>/USER</span>
      </div>
      <h2 class="title">MY CUENTA DE USUARIO</h2>
    </div>
  </div>
  <div class="content-info-user">
    <div class="navegacion-user">
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>Orders</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="user-container">
      <div class="dashboard-container active">
        <h2>dashboard</h2>
      </div>
      <div class="orders-container">
        <h2>orders</h2>
      </div>
      <div class="addresses-container">
        <h2>adresses</h2>
      </div>
      <div class="payment-container">
        <h2>payment</h2>
      </div>
      <div class="acount-details-container">
        <h2>acount-details</h2>
      </div>
    </div>
  </div>
</section>
