.just-product {
  font-family: "Rubik", sans-serif;
  height: auto;
  width: 100%;
  padding-top: 8em;
  background-color: #fcbc39;
  position: relative;
  background: #fff;
}
.product-content {
  display: flex;
  margin-top: 8em;
  width: 100%;
}
@media (max-width: 600px) {
  .product-content {
    flex-direction: column;
    width: 100%;
  }
}
.product-content .img-product {
  width: 635px;
  height: 635px;
}
.product-content .product-description {
  /*border: 1px solid red;*/
  width: 100%;
  margin-left: 7em;
  margin-top: 3em;
}
.product-content .product-description .title-product {
  font-size: 35px;
}
.product-content .product-description .parrafo-product {
  width: 440px;
  font-size: 15px;
  color: #666666;
}

.product-content .product-description .nutricional-info {
  display: grid;
  width: 440px;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2px;
}
.product-content .product-description .nutricional-info .propiedad {
  background-color: #f8f8f8;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.product-content .product-description .nutricional-info .propiedad .name {
  color: #999999;
  font-size: 13px;
  text-align: center;
}
.product-content .product-description .nutricional-info .propiedad p {
  color: #333333;
  font-size: 11px;
  margin: 3px 0 3px 0;
  text-align: center;
}
.product-content .product-description .mensaje-product {
  color: #999999;
  font-size: 12px;
}

.product-content .product-description .advertencia-product {
  color: #333333;
  font-size: 12.5px;
}

.product-content .product-description .product-price {
  font-weight: 700;
  color: #333333;
}

.product-content .product-description .product-price .moneda {
  font-size: 24px;
}
.product-content .product-description .product-price .price-int {
  font-size: 30px;
}
.product-content .product-description .product-price .price-dec {
  font-size: 22.5px;
  position: absolute;
}

.extra-options-product {
  position: relative;
}
.extra-options-product form {
  position: relative;
  display: grid;
  width: 440px;
  column-gap: 3px;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  border-radius: 6px;
  border: 2px solid #f1f1f1;
  padding: 1em;
}

.extra-options-product .extra-title {
  color: #22272d;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: -1.2em;
  left: 1.5em;
  background-color: #fff;
}
.extra-options-product form span {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 3.5px;
  color: #333333;
  padding-left: 3px;
}

.extra-options-product form span p {
  margin: 7px 7px;
  font-size: 11px;
  font-weight: 700;
}
.extra-total-price {
  display: flex;

  border-radius: 6px;
  border: 2px solid #f1f1f1;
  padding: 0.4em;
  margin: 1em 0 1em 0;
  flex-direction: column;
  width: 460px;
  position: relative;
}
.extra-total-price .extra {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: start;
}
.extra-total-price .extra p {
  margin: 10px;
  padding: 5px;
}
.extra-total-price .total p {
  margin: 10px;
  padding: 5px;
}
.extra-total-price .total {
  display: flex;
  justify-content: start;
  align-items: center;
}
.buttons-orders {
  display: flex;
}

.buttons-orders .order {
  width: 190px;
  background: #e4584b;
  padding: 12px;
  height: 45px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15.5px;

  color: #fff;
  border-radius: 30px;
  border: none;
}
.buttons-orders .quant {
  display: flex;
  justify-content: center;
  height: 45px;
  border: 1px solid #fff;
  color: #000;
  background: #fff;
  width: 150px;
  margin-left: -1.5em;
}
.buttons-orders .btn-plus {
  border: none;
  border-radius: 0 30px 30px 0;
  font-weight: 800;
  background: #f5f5f5;
  width: 35px;
  cursor: pointer;
}
.buttons-orders .btn-minus {
  border: none;
  width: 35px;
  cursor: pointer;
  border-radius: 30px 0 0 30px;
  font-weight: 800;
  background: #f5f5f5;
}
.buttons-orders input {
  border: none;
  width: 25px;
  text-align: center;
  font-weight: 900;
  background: #f5f5f5;
}
.extra-total-price .extra .price span {
  color: #333333;
  font-size: 20.5px;
  margin: 0;
  font-weight: 900;
}
.extra-total-price .total .price span {
  color: #333333;
  font-size: 20.5px;
  font-weight: 800;
  margin: 0;
}

.extra-total-price .total .price .dolar {
  font-size: 17px;
}
.extra-total-price .total .price .entero {
}
.extra-total-price .total .price .decimal,
.extra-total-price .extra .price .decimal {
  margin-top: -4px;
  font-size: 15px;
  position: absolute;
}
.extra-total-price .extra .price .dolar,
.extra-total-price .total .price .dolar {
  font-size: 17px;
}
.extra-total-price .extra .price,
.extra-total-price .total .price {
  position: relative;
}
.buttons-orders .favorite {
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
}
.product-description .category {
  font-size: 13px;
}

.product-description .category .cat {
  background-color: #f5f5f5;
  padding: 1px 6px;
  border-radius: 4px;
}

/*comentarios y reviews*/
.reviews_description-product {
  width: 100%;
  height: auto;
}
.reviews_description-product ul {
  display: flex;
  justify-content: center;
  padding: 2em 0 2em 0;
}

.reviews_description-product ul .select-description {
  border-bottom: 2.5px solid #f9f9f9;
  margin-right: 5px;
  padding: 15px;
  color: #999999;
  font-weight: 600;
  transition: 0.4s all;
  cursor: pointer;
}

.reviews_description-product ul .select-description.active {
  border-bottom: 2.5px solid #000;
  color: #000;
  transition: 0.4s all;
}

.reviews_description-product ul .select-description:hover {
  border-bottom: 2.5px solid #000;
  color: #000;
  transition: 0.4s all;
}
.reviews_description-product .description-parrafo {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #666666;
}

.reviews_description-product .description-parrafo p {
  width: 940px;
  text-align: center;
  line-height: 25px;
  padding: 0 0 5em 0;
}
.reviews_description-product ul .select-review {
  padding: 15px;
  color: #999999;
  font-weight: 600;
  margin-left: 5px;
  padding: 15px;
  transition: 0.4s all;
  border-bottom: 2.5px solid #f9f9f9;
  cursor: pointer;
}

.reviews_description-product ul .select-review:hover {
  border-bottom: 2.5px solid #000;
  color: #000;
  transition: 0.4s all;
}
.reviews_description-product ul .select-review.active {
  border-bottom: 2.5px solid #000;
  color: #000;
  transition: 0.4s all;
}

.review-product-complete {
  display: none;
}
/*formulario de reviews y listado de reviews*/

/*listar otros productos*/
.other-products {
  background: #fff;
  max-width: 100%;
  text-align: center;
  padding: 2em;
}
.other-products .list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 4em;
}

.other-products .item {
  margin: 0 0.8em 0 0.8em;
}
.other-products .item img {
  width: 175px;
  height: 175px;
  border-radius: 4px;
  border: 0.5px solid #f5f5f5;
}

.other-products .item p {
  font-size: 13px;
  color: #333333;
  text-align: center;
  width: 157px;
  font-weight: 600;
}

/*flechas*/
.flechas-after-before {
  display: flex;
  padding: 3em;
  justify-content: space-between;
}
.flechas-after-before .left {
  display: flex;
  filter: opacity(0.7);
  transition: 0.4s all;
}

.flechas-after-before .left div,
.flechas-after-before .right div {
  margin-left: 8px;
  margin-right: 8px;
}
.flechas-after-before .right {
  display: flex;

  filter: opacity(0.7);
  transition: 0.4s all;
}

.flechas-after-before .right .icon img,
.flechas-after-before .left .icon img {
  width: 50px;
  height: 42px;
  filter: opacity(0.5);
  transition: 0.4s all;
}
.flechas-after-before .right:hover,
.flechas-after-before .left:hover {
  transition: 0.4s all;
  filter: opacity(1);
}
.flechas-after-before .right .direccion,
.flechas-after-before .left .direccion {
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
  margin: 5px 0 5px 0;
}
.flechas-after-before .right .title-product,
.flechas-after-before .left .title-product {
  margin: 5px 0 5px 0;
  color: #000;
}
