<div class="cart-section">
  <img
    id="cartButtonClose"
    style="cursor: pointer; position: absolute; left: 96%; top: 2%"
    width="40"
    height="40"
    src="./img/equisCart.png"
    alt=""
  />
  <div class="list">
    <!---->

    <!---->
    <div class="item-cart">
      <div class="info-cart-item">
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger18-440x440.jpg"
          alt=""
        />

        <span class="price-item">
          <span class="title-item">Tuscan Pizza</span>
          <p class="cantidad">1 x <span>$</span>9.99</p>
        </span>
      </div>
      <a style="padding-right: 10px" href="#"
        ><i class="far fa-trash-alt"></i
      ></a>
    </div>
    <!---->
    <div class="item-cart">
      <div class="info-cart-item">
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger18-440x440.jpg"
          alt=""
        />

        <span class="price-item">
          <span class="title-item">Tuscan Pizza</span>
          <p class="cantidad">1 x <span>$</span>8.99</p>
        </span>
      </div>
      <a style="padding-right: 10px" href="#"
        ><i class="far fa-trash-alt"></i
      ></a>
    </div>

    <!---->
    <div class="item-cart">
      <div class="info-cart-item">
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger18-440x440.jpg"
          alt=""
        />

        <span class="price-item">
          <span class="title-item">Tuscan Pizza</span>
          <p class="cantidad">1 x <span>$</span>9.99</p>
        </span>
      </div>
      <a style="padding-right: 10px" href="#"
        ><i class="far fa-trash-alt"></i
      ></a>
    </div>

    <!---->
    <div class="item-cart">
      <div class="info-cart-item">
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger18-440x440.jpg"
          alt=""
        />

        <span class="price-item">
          <span class="title-item">Tuscan Pizza</span>
          <p class="cantidad">1 x <span>$</span>9.99</p>
        </span>
      </div>
      <a style="padding-right: 10px" href="#"
        ><i class="far fa-trash-alt"></i
      ></a>
    </div>

    <!----->
    <div class="item-cart">
      <div class="info-cart-item">
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger18-440x440.jpg"
          alt=""
        />

        <span class="price-item">
          <span class="title-item">Tuscan Pizza</span>
          <p class="cantidad">1 x <span>$</span>9.99</p>
        </span>
      </div>
      <a style="padding-right: 10px" href="#"
        ><i class="far fa-trash-alt"></i
      ></a>
    </div>

    <!------>
    <div class="item-cart" id="item-cart-ultimo">
      <div class="info-cart-item">
        <img
          src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/burger18-440x440.jpg"
          alt=""
        />

        <span class="price-item">
          <span class="title-item">Tuscan Pizza</span>
          <p class="cantidad">1 x <span>$</span>9.99</p>
        </span>
      </div>
      <a style="padding-right: 10px" href="#"
        ><i class="far fa-trash-alt"></i
      ></a>
    </div>
    <!------>
  </div>
</div>

<div class="cart-section-2">
  <div class="buttons-cart">
    <span class="total-price">
      <p>Subtotal</p>
      <span class="price"
        >$24
        <p>.98</p>
      </span>
    </span>
    <div class="buttons">
      <button class="view-cart">View cart</button>

      <button class="checkout">Checkout</button>
    </div>
  </div>
</div>
