<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!--Fonts--->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <!-- App.css--->
    <link rel="stylesheet" href="./css/app.css" />
    <!-- Navegacion -->
    <link rel="stylesheet" href="./css/layouts/nav.css" />
    <link rel="stylesheet" href="./css/layouts/nav-two.css" />
    <link rel="stylesheet" href="./css/layouts/nav-three.css" />
    <!-- Product-section --->
    <link rel="stylesheet" href="./css/section-product/product.css" />
    <link rel="stylesheet" href="./css/section-product/home.css" />
    <link rel="stylesheet" href="./css/section-product/just-product.css" />
    <!--- Cart list --->
    <link rel="stylesheet" href="./css/cart.css" />
    <!-- Favorites--->
    <link rel="stylesheet" href="./css/section-product/favorites.css" />
    <!-- Pedido checkout--->
    <link rel="stylesheet" href="./css/section-pedido/pedido.css" />
    <!---Login & register -->
    <link rel="stylesheet" href="./css/seccion-user/logins.css" />
    <!-- footer --->
    <link rel="stylesheet" href="./css/layouts/footer.css" />
  </head>
  <body n class="body" name="Ancla" id="body">
    <!--cart modal --->
    <div class="cart" id="cart"><%- include('cart') %></div>
    <!--- Login & Register  modal---->
    <div class="logins" id="logins">
      <%- include('./section-user/logins.ejs') %>
    </div>
    <!----  Favorites modal --->
    <div class="favorites" id="favorites">
      <%- include('./section-product/favorites.ejs') %>
    </div>
    <!---Header -->
    <header id="header">
      <div class="menu-wrap">
        <ul class="1">
          <li class="11">
            <a
              class="ship li"
              style="font-family: 'Rubik'; font-weight: bold"
              href="contact.html"
              >Inicio</a
            >
            <ul class="111" style="border-radius: 2px">
              <li class="hell">
                <a
                  class="yo"
                  href="address.html"
                  style="color: #666; width: 180px; height: 60px"
                  >Home Pizza</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Banner Wall V.1</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Banner Wall V.2</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Home Grid</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Home Parallax</a
                >
              </li>
            </ul>
          </li>
          <div class="nope">
            <a
              class="li"
              href="WelshCorgi.html"
              style="
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-size: 13px;
                margin-top: 5px;
                position: absolute;
                font-family: 'Rubik';
                font-weight: bold;
              "
              class="hover li"
              >POLLOS A LA BRASA
            </a>
            <div class="dd">
              <div
                style="
                  cursor: pointer;
                  position: absolute;
                  width: 180px;
                  margin-top: 0px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  About Us
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Contacts
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -40px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Coming Soon
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -45px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  404 Page
                </h3>
              </div>
            </div>
          </div>
          <div class="nope2">
            <a
              style="
                cursor: pointer;
                color: white;
                font-size: 13px;
                margin-top: 5px;
                position: absolute;
                margin-left: 130px;
                font-weight: bold;
                font-family: 'Rubik';
              "
              class="hover li"
            >
              PIZZAS
            </a>
            <div class="dd2">
              <div
                style="
                  cursor: pointer;
                  position: absolute;
                  width: 180px;
                  margin-top: 0px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Blog mansory
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Blogger
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -40px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Bkig Mosaic
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;
                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -55px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Standard Blog
                </h3>
              </div>
            </div>
          </div>
          <div class="nope3">
            <a
              style="
                cursor: pointer;
                color: white;
                font-size: 13px;
                margin-top: 5px;
                position: absolute;
                margin-left: 230px;
                font-weight: bold;
                font-family: 'Rubik';
              "
              class="hover li"
              >MENU DEL DIA
            </a>
            <div class="dd3">
              <div
                style="
                  cursor: pointer;
                  position: absolute;
                  width: 180px;
                  margin-top: 0px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.1 - Menu
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.2 - Menu
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -40px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.1 - Menu
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -55px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.1 - Menu
                </h3>
              </div>
            </div>
          </div>
        </ul>

        <div id="logo">
          <a href="#" title="Lafka" rel="home">
            <img
              id="logo-lafka"
              style="margin: 0 auto; display: block"
              width="140px"
              height="140px"
              src="/img/logo2.png"
              class="persistent_logo"
              alt=""
            />
          </a>
        </div>
        <div class="nope4">
          <a
            href="WelshCorgi.html"
            style="
              text-decoration: none;
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-family: 'Rubik';
              font-weight: bold;
              height: 52.5px;
            "
            class="hover4 li"
            >PEDIDOS ONLINE
          </a>
          <div class="dd4">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 100px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 10px;
                  margin-top: 0px;
                  font-size: 12.5px;
                  top: 20px;
                "
              >
                Configurable Products & Custom Product Addons
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 100px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Contacts
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Coming Soon
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -45px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                404 Page
              </h3>
            </div>
          </div>
        </div>
        <div class="nope5">
          <a
            style="
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-weight: bold;
              font-family: 'Rubik';
            "
            class="hover5 li"
            >CONTACTANOS
          </a>
          <div class="dd2">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Blog mansory
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Blogger
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Bkig Mosaic
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -55px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Standard Blog
              </h3>
            </div>
          </div>
        </div>
        <div class="nope6">
          <a
            style="
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-weight: bold;
              font-family: 'Rubik';
            "
            class="hover6 li"
            >DONDE ESTAMOS
          </a>
          <div class="dd3">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.2 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -55px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
          </div>
        </div>
        <div class="nope6">
          <a
            style="
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-weight: bold;
              font-family: 'Rubik';
            "
            class="hover7 li"
            >BLOG
          </a>
          <div class="dd3">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;
                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.2 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -55px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-two">
        <div class="number" id="phone-number">
          <a href="#" class="info-phone">
            <p class="phone-icon">
              <i
                class="fa fa-phone"
                style="font-size: 20px; margin-right: 10px"
                aria-hidden="true"
              ></i>
            </p>
            <p class="number-icon">+5552347651</p>
          </a>
        </div>
        <div class="cart-search" id="cart-options">
          <a id="userButton" href="#"
            ><p class="icon-user">
              <i style="font-size: 18px" class="fa fa-user-o"></i></p
          ></a>
          <a id="favoriteButton" href="#">
            <p class="corazon-icon">
              <i style="font-size: 20px" class="fa fa-heart-o"></i>

              <span>8</span>
            </p></a
          >
          <a id="cartButton"
            ><p class="cart-icon">
              <i
                style="font-size: 20px"
                class="fa fa-cart-arrow-down"
                aria-hidden="true"
              ></i>
              <span>5</span>
            </p></a
          >
          <a href="#">
            <p class="search-icon">
              <i
                class="fa fa-search"
                style="font-size: 20px"
                aria-hidden="true"
              ></i></p
          ></a>
        </div>
      </div>
    </header>
    <!--- Nav flotante -->
    <div class="home-navbar" id="navbar-three">
      <div class="container-links">
        <div id="item1">
          <a id="#" href="#">
            <img src="icons/svgfood/043-chicken-leg.svg" alt="" />
            <p class="text-icon">
              POLLOS A LA BRAZA

              <i
                class="fa fa-chevron-right"
                style="font-size: 11px"
                aria-hidden="true"
              ></i>
            </p>
            <span class="stcker-red">envio gratis+ </span>
          </a>
          <div id="dropdown1" class="dropdown dropdown-content1">
            <div class="image">
              <img
                src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/menu-pizza1.jpg"
                alt=""
              />
            </div>
            <div class="image">
              <img
                src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/menu-burger3.jpg"
                alt=""
              />
            </div>
            <div class="image">
              <img
                src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/menu-burger1.jpg"
                alt=""
              />
            </div>
            <div class="content-modal">
              <h3>About Our Pizza</h3>
              <p>
                With a more “contemporary” style, our gourmet pizzas are where
                the creativity of our pizza chefs shines.
              </p>
              <p>
                Every Pizza on Lafka can be made with buttery flaky crust or
                100% whole-grain crust and even vegan friendly gluten-free
                dough.
              </p>
              <button class="button-pizza">Build Your pizza</button>
            </div>
          </div>
        </div>
        <div id="item2">
          <a href="#">
            <img src="icons/svgfood/023-pizza-slice.svg" alt="" />
            <p class="text-icon">
              PIZZAS

              <i
                class="fa fa-chevron-right"
                style="font-size: 11px"
                aria-hidden="true"
              ></i>
            </p>
          </a>
          <div id="dropdown2" class="dropdown dropdown-content2"></div>
        </div>
        <div id="item3">
          <a href="#">
            <img src="icons/svgfood/021-fried-chicken.svg" alt="" />
            <p class="text-icon">
              HAPPY BOX
              <i
                class="fa fa-chevron-right"
                style="font-size: 11px"
                aria-hidden="true"
              ></i>
            </p>
            <span class="stcker-black">-10% descuento</span>
          </a>
        </div>
        <div id="item4">
          <a href="#">
            <img src="icons/svgfood/025-meat.svg" alt="" />
            <p class="text-icon">PARRILLADAS</p>
          </a>
          <div class="dropdown dropdown-content4"></div>
        </div>
        <div id="item5">
          <a href="#">
            <img src="icons/svgfood/049-breakfast.svg" alt="" />
            <p class="text-icon">DELICIOUS PACK</p>
          </a>
        </div>
        <div id="item6">
          <a href="#">
            <img src="icons/svgfood/047-menu.svg" alt="" />
            <p class="text-icon">MENUS CRIOLLOS</p>
          </a>
        </div>
        <div id="item7">
          <a id="item7" href="#">
            <img src="icons/svgfood/024-chef-hat.svg" alt="" />
            <p class="text-icon">PREMIUM PACKS</p>
            <span class="stcker-turquoise">envio gratis +</span>
          </a>
        </div>
      </div>
    </div>
    <!--- End nav flotante --->

    <!-- Cuerpos diferentes -->
    <div id="bodys"><%- body %></div>

    <footer class="footer">
      <div class="footer-informacion">
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2>We accept Targets</h2>
          <div class="targets">
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
          </div>
        </ul>
      </div>
      <div class="footer-social">
        <span class="reserve">Derechos reservados 2020 </span>
        <ul>
          <a href="">0 </a>
          <a href="">0 </a>
          <a href="">0 </a>
          <a href="">0 </a>
        </ul>
      </div>
    </footer>
    <script>
      function autoHeader() {
        let scrollTop = document.documentElement.scrollTop;
        let header = document.getElementById("header");
        let navThree = document.getElementById("navbar-three");
        let logoLafka = document.getElementById("logo-lafka");
        let phoneNumber = document.getElementById("phone-number");
        let cartOptions = document.getElementById("cart-options");
        if (scrollTop >= 40) {
          header.classList.add("active");
          logoLafka.classList.add("active");
          phoneNumber.classList.add("active");
          cartOptions.classList.add("active");
        } else {
          header.classList.remove("active");
          logoLafka.classList.remove("active");
          phoneNumber.classList.remove("active");
          cartOptions.classList.remove("active");
        }
        if (scrollTop >= 10) {
          navThree.classList.add("active");
        } else {
          navThree.classList.remove("active");
        }

        console.log(scrollTop);
      }
      window.addEventListener("scroll", () => {
        autoHeader();
      });
    </script>

    <!---Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--- Carrito de compras--->

    <script src="./js/cart.js"></script>
    <script src="./js/logins.js"></script>
    <script src="./js/favorites.js"></script>
  </body>
</html>
