<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--Fonts--->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap"
      rel="stylesheet"
    />
    <!-- App.css--->
    <link rel="stylesheet" href="./css/app.css" />
    <!-- Navegacion -->
    <link rel="stylesheet" href="./css/layouts/nav.css" />
    <link rel="stylesheet" href="./css/layouts/nav-two.css" />
    <link rel="stylesheet" href="./css/layouts/nav-three.css" />
    <!-- Product-section --->
    <link rel="stylesheet" href="./css/section-product/product.css" />
    <link rel="stylesheet" href="./css/section-product/home.css" />
    <!--- Cart list --->
    <link rel="stylesheet" href="./css/cart.css" />
    <!-- footer --->
    <link rel="stylesheet" href="./css/layouts/footer.css" />
  </head>
  <body n class="body" name="Ancla" id="body">
    <!--cart--->
    <div class="cart" id="cart"><%- include('cart') %></div>
    <!---Header -->
    <header>
      <div class="menu-wrap">
        <ul class="1">
          <li class="11">
            <a
              class="ship"
              style="font-family: 'Rubik'; font-weight: bold"
              href="contact.html"
              >HOME</a
            >
            <ul class="111" style="border-radius: 2px">
              <li class="hell">
                <a
                  class="yo"
                  href="address.html"
                  style="color: #666; width: 180px; height: 60px"
                  >Home Pizza</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Banner Wall V.1</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Banner Wall V.2</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Home Grid</a
                >
              </li>
              <li class="hell">
                <a
                  class="yo"
                  href="policy.html"
                  style="
                    color: #666;
                    font-size: 13px;
                    width: 180px;
                    height: 60px;
                  "
                  >Home Parallax</a
                >
              </li>
            </ul>
          </li>
          <div class="nope">
            <a
              href="WelshCorgi.html"
              style="
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-size: 13px;
                margin-top: 5px;
                position: absolute;
                font-family: 'Rubik';
                font-weight: bold;
              "
              class="hover"
              >ABOUT LAFKA
            </a>
            <div class="dd">
              <div
                style="
                  cursor: pointer;
                  position: absolute;
                  width: 180px;
                  margin-top: 0px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  About Us
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Contacts
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -40px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Coming Soon
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -45px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  404 Page
                </h3>
              </div>
            </div>
          </div>
          <div class="nope2">
            <a
              style="
                cursor: pointer;
                color: white;
                font-size: 13px;
                margin-top: 5px;
                position: absolute;
                margin-left: 130px;
                font-weight: bold;
                font-family: 'Rubik';
              "
              class="hover"
              >OUR BLOG
            </a>
            <div class="dd2">
              <div
                style="
                  cursor: pointer;
                  position: absolute;
                  width: 180px;
                  margin-top: 0px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Blog mansory
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Blogger
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -40px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Bkig Mosaic
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;
                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -55px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  Standard Blog
                </h3>
              </div>
            </div>
          </div>
          <div class="nope3">
            <a
              style="
                cursor: pointer;
                color: white;
                font-size: 13px;
                margin-top: 5px;
                position: absolute;
                margin-left: 230px;
                font-weight: bold;
                font-family: 'Rubik';
              "
              class="hover"
              >OUR MENU
            </a>
            <div class="dd3">
              <div
                style="
                  cursor: pointer;
                  position: absolute;
                  width: 180px;
                  margin-top: 0px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.1 - Menu
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: 0px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.2 - Menu
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -40px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.1 - Menu
                </h3>
              </div>
              <div
                style="
                  cursor: pointer;
                  width: 180px;
                  margin-top: 50px;
                  height: 50px;

                  font-weight: 100;
                  color: #666;
                  border-bottom: 1px solid #f1f1f1;
                "
                class="rip2"
              >
                <h3
                  style="
                    text-align: left;
                    margin-left: 20px;
                    margin-top: -55px;
                    font-size: 13px;
                    top: 20px;
                  "
                >
                  v.1 - Menu
                </h3>
              </div>
            </div>
          </div>
        </ul>

        <div id="logo">
          <a href="#" title="Lafka" rel="home">
            <img
              style="margin: 0 auto; display: block"
              width="110px"
              height="110px"
              src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/06/logo-lafka-shop.png"
              class="persistent_logo"
              alt=""
              srcset="
                https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/06/logo-lafka-shop.png         220w,
                https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/06/logo-lafka-shop-150x150.png 150w,
                https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/06/logo-lafka-shop-100x100.png 100w,
                https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/06/logo-lafka-shop-60x60.png    60w
              "
              sizes="(max-width: 100px) 100vw, 200px"
            />
          </a>
        </div>
        <div class="nope4">
          <a
            href="WelshCorgi.html"
            style="
              text-decoration: none;
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-family: 'Rubik';
              font-weight: bold;
              height: 52.5px;
            "
            class="hover4"
            >ORDER ONLINE
          </a>
          <div class="dd4">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 100px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 10px;
                  margin-top: 0px;
                  font-size: 12.5px;
                  top: 20px;
                "
              >
                Configurable Products & Custom Product Addons
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 100px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Contacts
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Coming Soon
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -45px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                404 Page
              </h3>
            </div>
          </div>
        </div>
        <div class="nope5">
          <a
            style="
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-weight: bold;
              font-family: 'Rubik';
            "
            class="hover5"
            >CATERING
          </a>
          <div class="dd2">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Blog mansory
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Blogger
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Bkig Mosaic
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -55px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                Standard Blog
              </h3>
            </div>
          </div>
        </div>
        <div class="nope6">
          <a
            style="
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-weight: bold;
              font-family: 'Rubik';
            "
            class="hover6"
            >LOCATIONS
          </a>
          <div class="dd3">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.2 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -55px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
          </div>
        </div>
        <div class="nope6">
          <a
            style="
              cursor: pointer;
              color: white;
              font-size: 13px;
              margin-top: 5px;
              position: absolute;
              font-weight: bold;
              font-family: 'Rubik';
            "
            class="hover7"
            >CONTACTS
          </a>
          <div class="dd3">
            <div
              style="
                cursor: pointer;
                position: absolute;
                width: 180px;
                margin-top: 0px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;
                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: 0px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.2 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -40px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
            <div
              style="
                cursor: pointer;
                width: 180px;
                margin-top: 50px;
                height: 50px;

                font-weight: 100;
                color: #666;
                border-bottom: 1px solid #f1f1f1;
              "
              class="rip2"
            >
              <h3
                style="
                  text-align: left;
                  margin-left: 20px;
                  margin-top: -55px;
                  font-size: 13px;
                  top: 20px;
                "
              >
                v.1 - Menu
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-two">
        <div class="number">
          <a href="#" class="info-phone">
            <p class="phone-icon">
              <i style="font-size: 20px" class="far">&#xf004;</i>
            </p>
            <p class="number-icon">+5552347651</p>
          </a>
        </div>
        <div class="cart-search">
          <a href="#"
            ><p class="icon-user">
              <i style="font-size: 20px" class="far">&#xf004;</i>
            </p></a
          >
          <a href="#">
            <p class="corazon-icon">
              <i style="font-size: 20px" class="far">&#xf004;</i>

              <span>1</span>
            </p></a
          >
          <a id="cartButton" href="#"
            ><p class="cart-icon">
              <i style="font-size: 20px" class="far">&#xf004;</i>

              <span>1</span>
            </p></a
          >
          <a href="#">
            <p class="search-icon">
              <i style="font-size: 20px" class="far">&#xf004;</i>
            </p></a
          >
        </div>
      </div>
    </header>
    <!--- Nav flotante -->
    <div class="home-navbar" id="navbar-two">
      <div class="container-links">
        <div id="item1">
          <a id="#" href="#">
            <img src="icons/svgfood/023-pizza-slice.svg" alt="" />
            <p class="text-icon">PIZZA</p>
            <span class="stcker-red">3 STYLES</span>
          </a>
          <div id="dropdown1" class="dropdown dropdown-content1">
            <div class="image">
              <img
                src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/menu-pizza1.jpg"
                alt=""
              />
            </div>
            <div class="image">
              <img
                src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/menu-burger3.jpg"
                alt=""
              />
            </div>
            <div class="image">
              <img
                src="https://lafka.althemist.com/fastfood/wp-content/uploads/sites/2/2019/05/menu-burger1.jpg"
                alt=""
              />
            </div>
            <div class="content-modal">
              <h3>About Our Pizza</h3>
              <p>
                With a more “contemporary” style, our gourmet pizzas are where
                the creativity of our pizza chefs shines.
              </p>
              <p>
                Every Pizza on Lafka can be made with buttery flaky crust or
                100% whole-grain crust and even vegan friendly gluten-free
                dough.
              </p>
              <button class="button-pizza">Build Your pizza</button>
            </div>
          </div>
        </div>
        <div id="item2">
          <a href="#">
            <img src="icons/svgfood/007-burger-1.svg" alt="" />
            <p class="text-icon">BURGUERS</p>
            <span class="stcker-brown">3 STYLES</span>
          </a>
          <div id="dropdown2" class="dropdown dropdown-content2"></div>
        </div>
        <div id="item3">
          <a href="#">
            <img src="icons/svgfood/030-kebab.svg" alt="" />
            <p class="text-icon">SANDWICHES</p>
            <span class="stcker-orange">3 STYLES</span>
          </a>
        </div>
        <div id="item4">
          <a href="#">
            <img src="icons/svgfood/008-fried-potatoes.svg" alt="" />
            <p class="text-icon">SIDES & SALLADS</p>
            <span class="stcker-black">3 STYLES</span>
          </a>
          <div class="dropdown dropdown-content4"></div>
        </div>
        <div id="item5">
          <a href="#">
            <img src="icons/svgfood/050-french-fries.svg" alt="" />
            <p class="text-icon">COMBOS</p>
            <span class="stcker-green">3 STYLES</span>
          </a>
        </div>
        <div id="item6">
          <a href="#">
            <img src="icons/svgfood/012-cola.svg" alt="" />
            <p class="text-icon">DRINKS</p>
            <span class="stcker-purple">3 STYLES</span>
          </a>
        </div>
        <div id="item7">
          <a id="item7" href="#">
            <img src="icons/svgfood/011-ice-cream-1.svg" alt="" />
            <p class="text-icon">DESSERTS</p>
            <span class="stcker-turquoise">3 STYLES</span>
          </a>
        </div>
      </div>
    </div>
    <!--- End nav flotante --->

    <!-- Body diferentes-->
    <%- body %>
    <footer>
      <div class="footer-informacion">
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2 class="info-title">Information</h2>
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Our menu</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </ul>
        <ul>
          <h2>We accept Targets</h2>
          <div class="targets">
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
            <span>targeta</span>
          </div>
        </ul>
      </div>
      <div class="footer-social">
        <span class="reserve">Derechos reservados 2020 </span>
        <ul>
          <a href="">0 </a>
          <a href="">0 </a>
          <a href="">0 </a>
          <a href="">0 </a>
        </ul>
      </div>
    </footer>

    <!--- Carrito de compras--->

    <script src="./js/cart.js"></script>
  </body>
</html>
