
          <div class="content-i">
            <div class="content-box">
              <div class="row">
                <div class="col-sm-8">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Grafico de Ventas
                    </h6>
                    <div class="element-box">
                      <h5 class="form-header">
                        Ventas(mensuales)
                      </h5>
                      <div class="form-desc">
                         </div>
                      <div class="el-chart-w">
                        <canvas height="145" id="barChart1" width="300"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Totales
                    </h6>
                    <div class="element-box el-tablo">
                      <div class="label">
                        Platos vendidos totales
                      </div>
                      <div class="value">
                        574
                      </div>
                      <div class="trending trending-up">
                        <span>+12%</span><i class="os-icon os-icon-arrow-up2"></i>
                      </div>
                    </div>
                    <div class="element-box el-tablo">
                      <div class="label">
                        Nuevos clientes(semanal)
                      </div>
                      <div class="value">
                        35
                      </div>
                      <div class="trending trending-down-basic">
                        <span>-9%</span><i class="os-icon os-icon-graph-down"></i>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="element-wrapper">
                <h6 class="element-header">
                  Grafico de visitas ala pagina
                </h6>
                <div class="element-box">
                  <div class="os-tabs-w">
                    <div class="os-tabs-controls">
                      <ul class="nav nav-tabs smaller">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#tab_overview">Semanal</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#tab_sales">Diario</a>
                        </li>
                      </ul>
                      <ul class="nav nav-pills smaller">
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#">Hoy</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#">7 Dias</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#">14 Dias</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#">Mensual</a>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_overview">
                        <div class="el-tablo">
                          <div class="label">
                            Visitas Totales
                          </div>
                          <div class="value">
                            12,537
                          </div>
                        </div>
                        <div class="el-chart-w">
                          <canvas height="150px" id="lineChart" width="600px"></canvas>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab_sales"></div>
                      <div class="tab-pane" id="tab_conversion"></div>
                    </div>
                  </div>
                </div>
              </div><!--------------------
              START - Color Scheme Toggler
              -------------------->
              <div class="floated-colors-btn second-floated-btn">
                <div class="os-toggler-w">
                  <div class="os-toggler-i">
                    <div class="os-toggler-pill"></div>
                  </div>
                </div>
                <span>Dark </span><span>Colors</span>
              </div>
              <!--------------------
              END - Color Scheme Toggler
              --------------------><!--------------------
              START - Demo Customizer
              -------------------->
              <div class="floated-customizer-btn third-floated-btn">
                <div class="icon-w">
                  <i class="os-icon os-icon-ui-46"></i>
                </div>
                <span>Customizer</span>
              </div>
              <div class="floated-customizer-panel">
                <div class="fcp-content">
                  <div class="close-customizer-btn">
                    <i class="os-icon os-icon-x"></i>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Menu Settings
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Menu Position</label><select class="menu-position-selector">
                          <option value="left">
                            Left
                          </option>
                          <option value="right">
                            Right
                          </option>
                          <option value="top">
                            Top
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Menu Style</label><select class="menu-layout-selector">
                          <option value="compact">
                            Compact
                          </option>
                          <option value="full">
                            Full
                          </option>
                          <option value="mini">
                            Mini
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field with-image-selector-w">
                        <label for="">With Image</label><select class="with-image-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Menu Color</label>
                        <div class="fcp-colors menu-color-selector">
                          <div class="color-selector menu-color-selector color-bright selected"></div>
                          <div class="color-selector menu-color-selector color-dark"></div>
                          <div class="color-selector menu-color-selector color-light"></div>
                          <div class="color-selector menu-color-selector color-transparent"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Sub Menu
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Sub Menu Style</label><select class="sub-menu-style-selector">
                          <option value="flyout">
                            Flyout
                          </option>
                          <option value="inside">
                            Inside/Click
                          </option>
                          <option value="over">
                            Over
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Sub Menu Color</label>
                        <div class="fcp-colors">
                          <div class="color-selector sub-menu-color-selector color-bright selected"></div>
                          <div class="color-selector sub-menu-color-selector color-dark"></div>
                          <div class="color-selector sub-menu-color-selector color-light"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Other Settings
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Full Screen?</label><select class="full-screen-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Show Top Bar</label><select class="top-bar-visibility-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Above Menu?</label><select class="top-bar-above-menu-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Top Bar Color</label>
                        <div class="fcp-colors">
                          <div class="color-selector top-bar-color-selector color-bright selected"></div>
                          <div class="color-selector top-bar-color-selector color-dark"></div>
                          <div class="color-selector top-bar-color-selector color-light"></div>
                          <div class="color-selector top-bar-color-selector color-transparent"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Demo Customizer
              --------------------><!--------------------
              START - Chat Popup Box
              -------------------->
              <div class="floated-chat-btn">
                <i class="os-icon os-icon-mail-07"></i><span>Demo Chat</span>
              </div>
              <div class="floated-chat-w">
                <div class="floated-chat-i">
                  <div class="chat-close">
                    <i class="os-icon os-icon-close"></i>
                  </div>
                  <div class="chat-head">
                    <div class="user-w with-status status-green">
                      <div class="user-avatar-w">
                        <div class="user-avatar">
                          <img alt="" src="img/avatar1.jpg">
                        </div>
                      </div>
                      <div class="user-name">
                        <h6 class="user-title">
                          John Mayers
                        </h6>
                        <div class="user-role">
                          Account Manager
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-messages">
                    <div class="message">
                      <div class="message-content">
                        Hi, how can I help you?
                      </div>
                    </div>
                    <div class="date-break">
                      Mon 10:20am
                    </div>
                    <div class="message">
                      <div class="message-content">
                        Hi, my name is Mike, I will be happy to assist you
                      </div>
                    </div>
                    <div class="message self">
                      <div class="message-content">
                        Hi, I tried ordering this product and it keeps showing me error code.
                      </div>
                    </div>
                  </div>
                  <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                    <div class="chat-extra">
                      <a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Chat Popup Box
              -------------------->
            </div>
            <!--------------------
            START - Sidebar
            -------------------->
            <div class="content-panel">
              <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
              </div>
              <div class="element-wrapper">
                <h6 class="element-header">
                  Estado de pedidos
                </h6>
                <div class="element-box">
                  <h5 class="form-header">
                    Estados
                  </h5>
                  <div class="form-desc">
                    </div>
                  <div class="el-chart-w">
                    <canvas height="160" id="donutChart" width="160"></canvas>
                    <div class="inside-donut-chart-label">
                      <strong>142</strong><span>Total Orders</span>
                    </div>
                  </div>
                  <div class="el-legend">
                    <div class="legend-value-w">
                      <div class="legend-pin" style="background-color: #6896f9;"></div>
                      <div class="legend-value">
                        Procesados
                      </div>
                    </div>
                    <div class="legend-value-w">
                      <div class="legend-pin" style="background-color: #85c751;"></div>
                      <div class="legend-value">
                        Cancelados
                      </div>
                    </div>
                    <div class="legend-value-w">
                      <div class="legend-pin" style="background-color: #d97b70;"></div>
                      <div class="legend-value">
                      Pendientes
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <!--------------------
            END - Sidebar
            -------------------->
          </div>
   