<div class="content-i">
  <div class="content-box">
    <div class="element-wrapper">
      <div class="element-box">

          <div class="steps-w">
            <div class="step-triggers">
              <a class="step-trigger active" href="#stepContent1">Add Pollos</a>
              <a class="step-trigger" href="#stepContent2">Add Pizzas</a>
              <a class="step-trigger" href="#stepContent3">Add HappyBox </a>
              <a class="step-trigger" href="#stepContent4">Add Parrilladas </a>
              <a class="step-trigger" href="#stepContent5">Add DeliPacks </a>
              <a class="step-trigger" href="#stepContent6">Add Menus </a>
              <a class="step-trigger" href="#stepContent7">Add Premium </a>
            </div>
            <div class="step-contents">
              <div class="row step-content active" id="stepContent1">
                <div class="row">
                        <form
                        class="col"
                          action="http://localhost:5500/admin/addproduct"
                          method="POST"
                          enctype="multipart/form-data"
                        >
                        <input type="hidden" name="categoria" value="pollos">



                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="">NombreOficial</label
                                ><input
                                  class="form-control"
                                  name="nombreoficial"
                                  placeholder="NombreOficial"
                                  type="text"
                                />
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="">NombreComercial</label
                                ><input
                                  class="form-control"
                                  name="nombrecomercial"
                                  placeholder="NombreComercial"
                                  type="text"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for=""> PrecioOriginal</label
                                ><input
                                  class="form-control"
                                  name="preciooriginal"
                                  placeholder="PrecioOriginal"
                                  type="text"
                                />
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="">PrecioConDescuento</label
                                ><input
                                  class="form-control"
                                  name="preciodescuento"
                                  placeholder="PrecioConDescuento"
                                  type="text"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Extras</label>
                            <select
                              class="form-control select2"
                              name="extras"
                              multiple="true"
                            >
                              <option>Gaseosa InkaKola o Coca Cola /$1.50</option>
                              <option>Arroz/$4.00</option>
                              <option>Chicha Morada/$2.50</option>
                              <option>HoodDogs/$2.50</option>
                              <option>Ensalada/$0.00</option>
                              <option>Aguadito/$0.00</option>
                              <option>Cremas/$0.00</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="">Demora en la Preparacion</label
                            ><select name="demorapreparacion" class="form-control">
                              <option>1h</option>
                              <option>2h</option>
                              <option>3h</option>
                              <option>Instataneo</option>
                              <option>Indefinido</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Descripccion</label
                            ><textarea
                              name="descripccion"
                              class="form-control"
                              rows="3"
                            ></textarea>
                          </div>
                          <div class="form-group">
                            <label for="">Cantidad Disponible</label
                            ><input
                              class="form-control"
                              name="cantidaddisponible"
                              type="number"
                            />
                          </div>

                          <div class="form-group">
                            <label for=""> Medida del Pollo a la Brasa</label
                            ><input
                              class="form-control"
                              name="medida"
                              placeholder="Medida"
                              type="text"
                            />
                          </div>
        <div class="form-group">
                            <label for="">Costo de envio</label
                            ><select name="tipoorder" class="form-control">
                              <option>Gratis </option>
                              <option>Costo extra</option>
                            </select>
                          </div>
        <div class="form-group">
                            <label for="">Tipo de Pollo a la Brasa</label
                            ><select name="tipo" class="form-control">
                              <option>Tamaño estandar</option>
                              <option>Familiar</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="">Imagen(jpg,png,jpeg)</label
                            ><input
                              class="form-control"
                              id="imagenProduct"
                              name="imagen"
                              type="file"
                            />
                          </div>

                            <button class="btn btn-primary" type="submit">Save</button>

                        </form>
                        <div style="margin-left: 3em;" class="col">
                          <h1>Pollos a la Braza</h1>
                          <img
                            id="previewImagen1"
                            src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.0-9/s720x720/131432281_3222094377895899_5055359411044202730_o.jpg?_nc_cat=100&ccb=2&_nc_sid=8024bb&_nc_eui2=AeHt6633bkh-p-_eu6mSPMJ5_upJIu3lVTX-6kki7eVVNUB6QPd-dcQfXvu6pkqYgRk&_nc_ohc=vmAXWhB3jL8AX9uZU_h&_nc_ht=scontent.fymy1-1.fna&tp=7&oh=267934a87d14c2317156c7bf7991bbf1&oe=60169FFD"
                            alt=""
                            width="400"
                            style="border-radius: 15px"
                          />
                        </div>
                      </div>  
              </div>
              <!------>
              <div class="step-content active" id="stepContent2">
                <div class="row">
               
                  <form
                  class="col"
                    action="http://localhost:5500/admin/addproduct"
                    method="POST"
                    enctype="multipart/form-data"
                  
              >
              <input type="hidden" name="categoria" value="pizzas">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">NombreOficial</label
                          ><input
                            class="form-control"
                            name="nombreoficial"
                            placeholder="NombreOficial"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Nombre de la Pizza</label
                          ><input
                            class="form-control"
                            name="nombrecomercial"
                            placeholder="NombreComercial"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> Precio Unitario de la Pizza</label>
                          <input
                            class="form-control"
                            name="preciooriginal"
                            placeholder="PrecioOriginal"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">PrecioConDescuento</label
                          ><input
                            class="form-control"
                            name="preciodescuento"
                            placeholder="PrecioConDescuento"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">Extras</label>
                      <select
                        class="form-control select2"
                        name="extras"
                        multiple="true"
                      >
                        <option>Cremas/$1.50</option>
                        <option>Extra Queso/$2.00</option>
                        <option>Chicha Morada/$2.50</option>
                        <option>HoodDogs/$3.00</option>    
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Demora en la Preparacion</label
                      ><select name="demorapreparacion" class="form-control">
                        <option>1h</option>
                        <option>2h</option>
                        <option>3h</option>
                        <option>Instataneo</option>
                        <option>Indefinido</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Descripccion</label
                      ><textarea
                        name="descripccion"
                        class="form-control"
                        rows="3"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <label for="">Cantidad Pizzas Disponible</label
                      ><input
                        class="form-control"
                        name="cantidaddisponible"
                        type="number"
                      />
                    </div>
                    <div class="form-group">
                      <label for="">Medida de la pizza</label
                      ><select name="medida" class="form-control">
                        <option>1/2 Metro</option>
                        <option>1 Metro</option>
                        <option>1/4 Metro</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Tamaño de la pizza</label
                      ><select name="tamaño" class="form-control">
                        <option>Personal</option>
                        <option>Mediana</option>
                        <option>Familiar</option>
                      </select>
                    </div>
  <div class="form-group">
                      <label for="">Costo de envio</label
                      ><select name="tipoorder" class="form-control">
                        <option>gratis </option>
                        <option>costo extra</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Imagen(jpg,png,jpeg)</label
                      ><input
                        class="form-control"
                        id="imagenProduct"
                        name="imagen"
                        type="file"
                      />
                    </div>

                      <button class="btn btn-primary" type="submit">Save</button>

                  </form>
                  
                  <div style="margin-left: 3em;" class="col">
                    <h1>Pizzas</h1>
                      <img
                        id="previewImagen2"
                        src="https://i2.wp.com/www.eatthis.com/wp-content/uploads/2018/07/little-caesar-hot-ready-pepperoni-pizza.jpg?fit=1024%2C750&ssl=1"
                        alt=""
                        width="400"
                        style="border-radius: 15px"
                      />
                    </div>
                </div>
              </div>

              <div class="step-content active" id="stepContent3">
                <div class="row">
                <form
                class="col"
                  action="http://localhost:5500/admin/addproduct"
                  method="POST"
                  enctype="multipart/form-data"
                >

              <input type="hidden" name="categoria" value="happybox">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreOficial</label
                        ><input
                          class="form-control"
                          name="nombreoficial"
                          placeholder="NombreOficial"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Nombre HappyBox</label
                        ><input
                          class="form-control"
                          name="nombrecomercial"
                          placeholder="NombreComercial"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> PrecioOriginal</label
                        ><input
                          class="form-control"
                          name="preciooriginal"
                          placeholder="PrecioOriginal"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">PrecioConDescuento</label
                        ><input
                          class="form-control"
                          name="preciodescuento"
                          placeholder="PrecioConDescuento"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Extras</label>
                    <select
                      class="form-control select2"
                      name="extras"
                      multiple="true"
                    >
                      <option>Gaseosa InkaKola o Coca Cola/$1.50 </option>
                      <option>Chicha Morada/$2.50 </option>
                      <option>Cremas/$0.00</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Demora en la Preparacion</label
                    ><select name="demorapreparacion" class="form-control">
                      <option>1h</option>
                      <option>2h</option>
                      <option>3h</option>
                      <option>Instataneo</option>
                      <option>Indefinido</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Descripccion</label
                    ><textarea
                      name="descripccion"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Cantidad Disponible</label
                    ><input
                      class="form-control"
                      name="cantidaddisponible"
                      type="number"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Tamaño de la caja</label
                    ><select name="tamaño" class="form-control">
                      <option>Caja Pequeño</option>
                      <option>Caja Grande</option>
                    </select>
                  </div>

<div class="form-group">
                    <label for="">Costo de envio</label
                    ><select name="tipoorder" class="form-control">
                      <option>gratis </option>
                      <option>costo extra</option>
                    </select>
                  </div>

<div class="form-group">
                    <label for="">Tipo de HappyBox</label
                    ><select name="tipo" class="form-control">
                      <option>Mollejas</option>
                      <option>Salchipapa</option>
                      <option>Mix</option>
                      <option>Alitas</option>
                      <option>Chorizo</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Imagen(jpg,png,jpeg)</label
                    ><input
                      class="form-control"
                      id="imagenProduct"
                      name="imagen"
                      type="file"
                    />
                  </div>

                    <button class="btn btn-primary" type="submit">Save</button>

                </form>

                <div style="margin-left: 3em;" class="col">
                  <h1>Happy Box</h1>
                  <img
                    id="previewImagen3"
                    src="https://scontent.fymy1-2.fna.fbcdn.net/v/t1.0-9/s720x720/128779176_3178088578963146_3052392173278784266_o.jpg?_nc_cat=105&ccb=2&_nc_sid=8024bb&_nc_eui2=AeHyZ354rZgP8QG6CIFsjk2n4tf-Y2hWrM7i1_5jaFaszuR5UlH0eY6LMN96aSMYXV0&_nc_ohc=Cm49XfRBbFkAX-Cm-oG&_nc_ht=scontent.fymy1-2.fna&tp=7&oh=e7df4a1f30f8c82acee21c1f35064466&oe=6014DC4D"
                    alt=""
                    width="400"
                    style="border-radius: 15px"
                  />
                </div>
              </div>
              </div>
              

              <div class="step-content active" id="stepContent4">
               <div class="row">
                <form
                class="col"
                  action="http://localhost:5500/admin/addproduct"
                  method="POST"
                  enctype="multipart/form-data"
                >

              <input type="hidden" name="categoria" value="parilladas">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreOficial</label
                        ><input
                          class="form-control"
                          name="nombreoficial"
                          placeholder="NombreOficial"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Nombre Parrillada</label
                        ><input
                          class="form-control"
                          name="nombrecomercial"
                          placeholder="NombreComercial"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> PrecioOriginal</label
                        ><input
                          class="form-control"
                          name="preciooriginal"
                          placeholder="PrecioOriginal"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">PrecioConDescuento</label
                        ><input
                          class="form-control"
                          name="preciodescuento"
                          placeholder="PrecioConDescuento"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Extras</label>
                    <select
                      class="form-control select2"
                      name="extras"
                      multiple="true"
                    >
                      <option>Gaseosa InkaKola o Coca Cola/$2.50</option>
                      <option>Chicha Morada/$1.50</option>
                      <option>HoodDogs/$2.00</option>
                      <option>Ensalada$0.00</option>
                      <option>Cremas/$0.00</option>
                      <option>Copa de Sangria/$0.00</option>
                      <option>Papas Fritas/$5.00</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Demora en la Preparacion de la Parrilla</label
                    ><select name="demorapreparacion" class="form-control">
                      <option>1h</option>
                      <option>2h</option>
                      <option>3h</option>
                      <option>Instataneo</option>
                      <option>Indefinido</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Descripccion</label
                    ><textarea
                      name="descripccion"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Cantidad Disponible</label
                    ><input
                      class="form-control"
                      name="cantidaddisponible"
                      type="number"
                    />
                  </div>

                  <div class="form-group">
                    <label for=""> Tamaño de la parrilla</label
                    ><input
                      class="form-control"
                      name="tamaño"
                      placeholder="Medida"
                      type="text"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Imagen(jpg,png,jpeg)</label
                    ><input
                      class="form-control"
                      id="imagenProduct"
                      name="imagen"
                      type="file"
                    />
                  </div>

<div class="form-group">
                    <label for="">Tipo de Parrillada</label
                    ><select name="tipo" class="form-control">
                      <option>Tamaño estandar</option>
                      <option>Familiar</option>
                    </select>
                  </div>
<div class="form-group">
                    <label for="">Costo de envio</label
                    ><select name="tipoorder" class="form-control">
                      <option>gratis </option>
                      <option>costo extra</option>
                    </select>
                  </div>

                    <button class="btn btn-primary" type="submit">Save</button>

                </form>

                <div style="margin-left: 3em;" class="col">
                  <h1>Parrilladas</h1>
                  <img
                    id="previewImagen4"
                    src="https://scontent.flim2-2.fna.fbcdn.net/v/t1.0-9/67644039_406278486658820_1528305851050229760_n.jpg?_nc_cat=108&ccb=2&_nc_sid=8024bb&_nc_ohc=tZ3gNrfOZUIAX9B0wTd&_nc_ht=scontent.flim2-2.fna&oh=4d77db5e7f98326fd91121a649d9f274&oe=602CF553"
                    alt=""
                    width="400"
                    style="border-radius: 15px"
                  />
                </div>
              </div>
              </div>

              <div class="step-content active" id="stepContent5">
                <div class="row">
                <form
                class="col"
                  action="http://localhost:5500/admin/addproduct"
                  method="POST"
                  enctype="multipart/form-data"
                >

              <input type="hidden" name="categoria" value="deliciuspack">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreOficial</label
                        ><input
                          class="form-control"
                          name="nombreoficial"
                          placeholder="NombreOficial"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreComercial</label
                        ><input
                          class="form-control"
                          name="nombrecomercial"
                          placeholder="NombreComercial"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> PrecioOriginal</label
                        ><input
                          class="form-control"
                          name="preciooriginal"
                          placeholder="PrecioOriginal"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">PrecioConDescuento</label
                        ><input
                          class="form-control"
                          name="preciodescuento"
                          placeholder="PrecioConDescuento"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Extras</label>
                    <select
                      class="form-control select2"
                      name="extras"
                      multiple="true"
                    >
                      <option>Gaseosa InkaKola o Coca Cola/$2.00</option>
                      <option>Chicha Morada/$1.50</option>
                      <option>HoodDogs4.00</option>
                      <option>Cremas/$0.00</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Demora en la Preparacion</label
                    ><select name="demorapreparacion" class="form-control">
                      <option>1h</option>
                      <option>2h</option>
                      <option>3h</option>
                      <option>Instataneo</option>
                      <option>Indefinido</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Descripccion</label
                    ><textarea
                      name="descripccion"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Cantidad Disponible</label
                    ><input
                      class="form-control"
                      name="cantidaddisponible"
                      type="number"
                    />
                  </div>

                  <div class="form-group">
                    <label for=""> Tamaño del Pack</label
                    ><input
                      class="form-control"
                      name="tamaño"
                      placeholder="Medida"
                      type="text"
                    />
                  </div>
<div class="form-group">
                    <label for="">Tipo de Pack</label
                    ><select name="tipo" class="form-control">
                      <option>Tamaño estandar</option>
                      <option>Familiar</option>
                    </select>
                  </div>
<div class="form-group">
                    <label for="">Costo de envio</label
                    ><select name="tipoorder" class="form-control">
                      <option>gratis </option>
                      <option>costo extra</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Imagen(jpg,png,jpeg)</label
                    ><input
                      class="form-control"
                      id="imagenProduct"
                      name="imagen"
                      type="file"
                    />
                  </div>

                    <button class="btn btn-primary" type="submit">Save</button>

                </form>
                <div style="margin-left: 3em;" class="col">
                  <h1>Add DeliciusPack</h1>
                  <img
                    id="previewImagen5"
                    src="https://scontent.fymy1-2.fna.fbcdn.net/v/t1.0-9/s720x720/126032525_3141938509244820_3024836461637794543_o.jpg?_nc_cat=103&ccb=2&_nc_sid=8024bb&_nc_eui2=AeEMI0NOwkbXPgGLnEx14gEszuLpNpDWHMTO4uk2kNYcxAk49GzXWrk3MdfsQYkN1-w&_nc_ohc=42Cab0V2ufQAX-Vijz-&_nc_ht=scontent.fymy1-2.fna&tp=7&oh=986f60acc38b40f6d7e36245660f0087&oe=6014238E"
                    alt=""
                    width="400"
                    style="border-radius: 15px"
                  />
                </div>
                </div>
              </div>

              <div class="step-content active" id="stepContent6">
              <div class="row">
                <form
                class="col"
                  action="http://localhost:5500/admin/addproduct"
                  method="POST"
                  enctype="multipart/form-data"
                >

              <input type="hidden" name="categoria" value="menus">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreOficial</label
                        ><input
                          class="form-control"
                          name="nombreoficial"
                          placeholder="NombreOficial"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Nombre del Menu </label
                        ><input
                          class="form-control"
                          name="nombrecomercial"
                          placeholder="NombreComercial"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> Precio por Menu</label
                        ><input
                          class="form-control"
                          name="preciooriginal"
                          placeholder="PrecioOriginal"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">PrecioConDescuento</label
                        ><input
                          class="form-control"
                          name="preciodescuento"
                          placeholder="PrecioConDescuento"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Extras</label>
                    <select
                      class="form-control select2"
                      name="extras"
                      multiple="true"
                    >
                      <option>Gaseosa InkaKola o Coca Cola /$2.50</option>
                      <option>Chicha Morada/$1.80</option>
                      <option>Ensalada/$0.00</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Demora en la Preparacion</label
                    ><select name="demorapreparacion" class="form-control">
                      <option>1h</option>
                      <option>2h</option>
                      <option>3h</option>
                      <option>Instataneo</option>
                      <option>Indefinido</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Descripccion</label
                    ><textarea
                      name="descripccion"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Cantidad de menus Disponible</label
                    ><input
                      class="form-control"
                      name="cantidaddisponible"
                      type="number"
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Imagen(jpg,png,jpeg)</label
                    ><input
                      class="form-control"
                      id="imagenProduct"
                      name="imagen"
                      type="file"
                    />
                  </div>

                    <button class="btn btn-primary" type="submit">Save</button>

                </form>

                <div style="margin-left: 3em;" class="col">
                  <h1>Menus Criollos</h1>
                  <img
                    id="previewImagen6"
                    src="https://scontent.flim2-1.fna.fbcdn.net/v/t1.0-9/p960x960/123595884_706988669921132_7656528971130525718_o.jpg?_nc_cat=110&ccb=2&_nc_sid=8024bb&_nc_ohc=BZlU0UZWaeQAX-JgfnP&_nc_ht=scontent.flim2-1.fna&tp=6&oh=7ab725a297b2a61fc1543f3f6123e765&oe=602C5CD2"
                    alt=""
                    width="400"
                    style="border-radius: 15px"
                  />
                </div>
              </div>
              </div>

              <div class="step-content active" id="stepContent7">
               <div class="row">
                <form
                class="col"
                  action="http://localhost:5500/admin/addproduct"
                  method="POST"
                  enctype="multipart/form-data"
                >

              <input type="hidden" name="categoria" value="premium">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreOficial del Paquete Premium</label
                        ><input
                          class="form-control"
                          name="nombreoficial"
                          placeholder="NombreOficial"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NombreComercial</label
                        ><input
                          class="form-control"
                          name="nombrecomercial"
                          placeholder="NombreComercial"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for=""> PrecioOriginal</label
                        ><input
                          class="form-control"
                          name="preciooriginal"
                          placeholder="PrecioOriginal"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">PrecioConDescuento</label
                        ><input
                          class="form-control"
                          name="preciodescuento"
                          placeholder="PrecioConDescuento"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Extras</label>
                    <select
                      class="form-control select2"
                      name="extras"
                      multiple="true"
                    >
                      <option>Gaseosa InkaKola o Coca Cola/$0.00</option>
                      <option>Chicha Morada/$0.00</option>
                      <option>HoodDogs/$0.00</option>
                      <option>Todas las Cremas/$0.00</option>
                      <option>1/4 de Pollo/$0.00</option>
                      <option>1 Caja HappyBox Estandar/$0.00</option>
                      <option>1 Pizza Mediana/$0.00</option>
                      <option>1 Parrillada de Pollo estandar/$0.00</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Demora en la Preparacion</label
                    ><select name="demorapreparacion" class="form-control">
                      <option>1h</option>
                      <option>2h</option>
                      <option>3h</option>
                      <option>Instataneo</option>
                      <option>Indefinido</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Descripccion</label
                    ><textarea
                      name="descripccion"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Cantidad Disponible</label
                    ><input
                      class="form-control"
                      name="cantidaddisponible"
                      type="number"
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Imagen(jpg,png,jpeg)</label
                    ><input
                      class="form-control"
                      id="imagenProduct"
                      name="imagen"
                      type="file"
                    />
                  </div>

                    <button class="btn btn-primary" type="submit">Save</button>

                </form>

                <div style="margin-left: 3em;" class="col">
                  <h1>PremiumPacks</h1>
                  <img
                    id="previewImagen7"
                    src="https://scontent.flim2-1.fna.fbcdn.net/v/t1.0-9/p960x960/84487560_527459744540693_8026119284272922624_o.jpg?_nc_cat=110&ccb=2&_nc_sid=8024bb&_nc_ohc=9hUs5J2_wysAX-7qkws&_nc_ht=scontent.flim2-1.fna&tp=6&oh=23401d9dcfeae230cdcad81335c9fdb4&oe=602CD375"
                    alt=""
                    width="400"
                    style="border-radius: 15px"
                  />
                </div>
              </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
    <!--------------------
              START - Color Scheme Toggler
              -------------------->
    <div class="floated-colors-btn second-floated-btn">
      <div class="os-toggler-w">
        <div class="os-toggler-i">
          <div class="os-toggler-pill"></div>
        </div>
      </div>
      <span>Dark </span><span>Colors</span>
    </div>
    <!--------------------
              END - Color Scheme Toggler
              --------------------><!--------------------
              START - Demo Customizer
              -------------------->
    <div class="floated-customizer-btn third-floated-btn">
      <div class="icon-w">
        <i class="os-icon os-icon-ui-46"></i>
      </div>
      <span>Customizer</span>
    </div>
    <div class="floated-customizer-panel">
      <div class="fcp-content">
        <div class="close-customizer-btn">
          <i class="os-icon os-icon-x"></i>
        </div>
        <div class="fcp-group">
          <div class="fcp-group-header">Menu Settings</div>
          <div class="fcp-group-contents">
            <div class="fcp-field">
              <label for="">Menu Position</label
              ><select class="menu-position-selector">
                <option value="left">Left</option>
                <option value="right">Right</option>
                <option value="top">Top</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Menu Style</label
              ><select class="menu-layout-selector">
                <option value="compact">Compact</option>
                <option value="full">Full</option>
                <option value="mini">Mini</option>
              </select>
            </div>
            <div class="fcp-field with-image-selector-w">
              <label for="">With Image</label
              ><select class="with-image-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Menu Color</label>
              <div class="fcp-colors menu-color-selector">
                <div
                  class="color-selector menu-color-selector color-bright selected"
                ></div>
                <div
                  class="color-selector menu-color-selector color-dark"
                ></div>
                <div
                  class="color-selector menu-color-selector color-light"
                ></div>
                <div
                  class="color-selector menu-color-selector color-transparent"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="fcp-group">
          <div class="fcp-group-header">Sub Menu</div>
          <div class="fcp-group-contents">
            <div class="fcp-field">
              <label for="">Sub Menu Style</label
              ><select class="sub-menu-style-selector">
                <option value="flyout">Flyout</option>
                <option value="inside">Inside/Click</option>
                <option value="over">Over</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Sub Menu Color</label>
              <div class="fcp-colors">
                <div
                  class="color-selector sub-menu-color-selector color-bright selected"
                ></div>
                <div
                  class="color-selector sub-menu-color-selector color-dark"
                ></div>
                <div
                  class="color-selector sub-menu-color-selector color-light"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="fcp-group">
          <div class="fcp-group-header">Other Settings</div>
          <div class="fcp-group-contents">
            <div class="fcp-field">
              <label for="">Full Screen?</label
              ><select class="full-screen-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Show Top Bar</label
              ><select class="top-bar-visibility-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Above Menu?</label
              ><select class="top-bar-above-menu-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Top Bar Color</label>
              <div class="fcp-colors">
                <div
                  class="color-selector top-bar-color-selector color-bright selected"
                ></div>
                <div
                  class="color-selector top-bar-color-selector color-dark"
                ></div>
                <div
                  class="color-selector top-bar-color-selector color-light"
                ></div>
                <div
                  class="color-selector top-bar-color-selector color-transparent"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------------
              END - Demo Customizer
              --------------------><!--------------------
              START - Chat Popup Box
              -------------------->
    <div class="floated-chat-btn">
      <i class="os-icon os-icon-mail-07"></i><span>Demo Chat</span>
    </div>
    <div class="floated-chat-w">
      <div class="floated-chat-i">
        <div class="chat-close">
          <i class="os-icon os-icon-close"></i>
        </div>
        <div class="chat-head">
          <div class="user-w with-status status-green">
            <div class="user-avatar-w">
              <div class="user-avatar">
                <img alt="" src="img/avatar1.jpg" />
              </div>
            </div>
            <div class="user-name">
              <h6 class="user-title">John Mayers</h6>
              <div class="user-role">Account Manager</div>
            </div>
          </div>
        </div>
        <div class="chat-messages">
          <div class="message">
            <div class="message-content">Hi, how can I help you?</div>
          </div>
          <div class="date-break">Mon 10:20am</div>
          <div class="message">
            <div class="message-content">
              Hi, my name is Mike, I will be happy to assist you
            </div>
          </div>
          <div class="message self">
            <div class="message-content">
              Hi, I tried ordering this product and it keeps showing me error
              code.
            </div>
          </div>
        </div>
        <div class="chat-controls">
          <input
            class="message-input"
            placeholder="Type your message here..."
            type="text"
          />
          <div class="chat-extra">
            <a href="#"
              ><span class="extra-tooltip">Attach Document</span
              ><i class="os-icon os-icon-documents-07"></i></a
            ><a href="#"
              ><span class="extra-tooltip">Insert Photo</span
              ><i class="os-icon os-icon-others-29"></i></a
            ><a href="#"
              ><span class="extra-tooltip">Upload Video</span
              ><i class="os-icon os-icon-ui-51"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!--------------------
              END - Chat Popup Box
              -------------------->
  </div>
  <!--------------------
            START - Sidebar
            -------------------->

  <!--------------------
            END - Sidebar
            -------------------->
</div>
<script>
  document.getElementById("imagenProduct").onchange = function (e) {
    let preview = document.getElementById("previewImagen");
    preview.removeAttribute("src")
    // Creamos el objeto de la clase FileReader
    let reader = new FileReader();
    // Leemos el archivo subido y se lo pasamos a nuestro fileReader
    reader.readAsDataURL(e.target.files[0]);
    // Le decimos que cuando este listo ejecute el código interno
    reader.onload = function () {
      
      
      preview.setAttribute("src", `${reader.result}`);
    };
  };
</script>
