<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col">
    <!--------------------
              START - Color Scheme Toggler
              -------------------->
    <div class="floated-colors-btn second-floated-btn">
      <div class="os-toggler-w">
        <div class="os-toggler-i">
          <div class="os-toggler-pill"></div>
        </div>
      </div>
      <span>Dark </span><span>Colors</span>
    </div>
    <!--------------------
              END - Color Scheme Toggler
              --------------------><!--------------------
              START - Demo Customizer
              -------------------->
    <div class="floated-customizer-btn third-floated-btn">
      <div class="icon-w">
        <i class="os-icon os-icon-ui-46"></i>
      </div>
      <span>Customizer</span>
    </div>
    <div class="floated-customizer-panel">
      <div class="fcp-content">
        <div class="close-customizer-btn">
          <i class="os-icon os-icon-x"></i>
        </div>
        <div class="fcp-group">
          <div class="fcp-group-header">Menu Settings</div>
          <div class="fcp-group-contents">
            <div class="fcp-field">
              <label for="">Menu Position</label
              ><select class="menu-position-selector">
                <option value="left">Left</option>
                <option value="right">Right</option>
                <option value="top">Top</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Menu Style</label
              ><select class="menu-layout-selector">
                <option value="compact">Compact</option>
                <option value="full">Full</option>
                <option value="mini">Mini</option>
              </select>
            </div>
            <div class="fcp-field with-image-selector-w">
              <label for="">With Image</label
              ><select class="with-image-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Menu Color</label>
              <div class="fcp-colors menu-color-selector">
                <div
                  class="color-selector menu-color-selector color-bright selected"
                ></div>
                <div
                  class="color-selector menu-color-selector color-dark"
                ></div>
                <div
                  class="color-selector menu-color-selector color-light"
                ></div>
                <div
                  class="color-selector menu-color-selector color-transparent"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="fcp-group">
          <div class="fcp-group-header">Sub Menu</div>
          <div class="fcp-group-contents">
            <div class="fcp-field">
              <label for="">Sub Menu Style</label
              ><select class="sub-menu-style-selector">
                <option value="flyout">Flyout</option>
                <option value="inside">Inside/Click</option>
                <option value="over">Over</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Sub Menu Color</label>
              <div class="fcp-colors">
                <div
                  class="color-selector sub-menu-color-selector color-bright selected"
                ></div>
                <div
                  class="color-selector sub-menu-color-selector color-dark"
                ></div>
                <div
                  class="color-selector sub-menu-color-selector color-light"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="fcp-group">
          <div class="fcp-group-header">Other Settings</div>
          <div class="fcp-group-contents">
            <div class="fcp-field">
              <label for="">Full Screen?</label
              ><select class="full-screen-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Show Top Bar</label
              ><select class="top-bar-visibility-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Above Menu?</label
              ><select class="top-bar-above-menu-selector">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
            <div class="fcp-field">
              <label for="">Top Bar Color</label>
              <div class="fcp-colors">
                <div
                  class="color-selector top-bar-color-selector color-bright selected"
                ></div>
                <div
                  class="color-selector top-bar-color-selector color-dark"
                ></div>
                <div
                  class="color-selector top-bar-color-selector color-light"
                ></div>
                <div
                  class="color-selector top-bar-color-selector color-transparent"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------------
              END - Demo Customizer
              --------------------><!--------------------
              START - Chat Popup Box
              -------------------->
    <div class="floated-chat-btn">
      <i class="os-icon os-icon-mail-07"></i><span>Demo Chat</span>
    </div>
    <div class="floated-chat-w">
      <div class="floated-chat-i">
        <div class="chat-close">
          <i class="os-icon os-icon-close"></i>
        </div>
        <div class="chat-head">
          <div class="user-w with-status status-green">
            <div class="user-avatar-w">
              <div class="user-avatar">
                <img alt="" src="img/avatar1.jpg" />
              </div>
            </div>
            <div class="user-name">
              <h6 class="user-title">John Mayers</h6>
              <div class="user-role">Account Manager</div>
            </div>
          </div>
        </div>
        <div class="chat-messages">
          <div class="message">
            <div class="message-content">Hi, how can I help you?</div>
          </div>
          <div class="date-break">Mon 10:20am</div>
          <div class="message">
            <div class="message-content">
              Hi, my name is Mike, I will be happy to assist you
            </div>
          </div>
          <div class="message self">
            <div class="message-content">
              Hi, I tried ordering this product and it keeps showing me error
              code.
            </div>
          </div>
        </div>
        <div class="chat-controls">
          <input
            class="message-input"
            placeholder="Type your message here..."
            type="text"
          />
          <div class="chat-extra">
            <a href="#"
              ><span class="extra-tooltip">Attach Document</span
              ><i class="os-icon os-icon-documents-07"></i></a
            ><a href="#"
              ><span class="extra-tooltip">Insert Photo</span
              ><i class="os-icon os-icon-others-29"></i></a
            ><a href="#"
              ><span class="extra-tooltip">Upload Video</span
              ><i class="os-icon os-icon-ui-51"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!--------------------
              END - Chat Popup Box
              -------------------->

    <div class="element-box">
      <form
        action="/admin/addproduct"
        method="POST"
        enctype="multipart/form-data"
      >
        <h5 class="form-header">Registro de un Producto</h5>
        <div class="form-desc">
          Formulario breve para registro de un producto.Despues podra personalizar cada producto.
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for=""> Nombre Oficial : </label>
          <div class="col-sm-8">
            <input
              class="form-control"
              placeholder="Introduzca un nombre"
              type="text"
              name="nombreoficial"
              id="nombreoficial"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for=""> Nombre Comercial:</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              placeholder="Introduzca nombre comercial"
              type="nombrecomercial"
              id="nombrecomercial"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="">Precio:</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              placeholder="Price"
              type="text"
              name="precio"
              id="precio"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="">Imagen:</label>
          <div class="col-sm-8">
            <input class="form-control" id="imagenproduct" type="file" name="imagenproduct"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for=""> Seleccionar categoria</label>
          <div class="col-sm-8">
            <select class="form-control"  id="categoria" name="categoria">
              <option>Pollo a la braza</option>
              <option>Pizza</option>
              <option>Parrillada</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="">Estado del producto : </label>
          <div class="col-sm-8">
            <select class="form-control" name="estado" id="estado">
              <option>Online</option>
              <option>Inactivo</option>
              <option>Pendiente</option>
            </select>
          </div>
        </div>

        <!--<div class="form-group row">-->
          <!--<label class="col-form-label col-sm-4" for=""> Multiselect</label>-->
          <!--<div class="col-sm-8">-->
            <!--<select class="form-control select2" multiple="true">-->
              <!--<option selected="true">New York</option>-->
              <!--<option selected="true">California</option>-->
              <!--<option>California</option>-->
              <!--<option>Boston</option>-->
              <!--<option>Texas</option>-->
              <!--<option>Colorado</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <fieldset class="form-group">
          <legend><span>Otros</span></legend>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for=""> Cantidad disponible:</label>
            <div class="col-sm-8">
              <input
                class="form-control"
                type="number"
                name="cantidad"
                id="cantidad"
              />
            </div>
          </div>

        <div class="form-buttons-w">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
      </div>

      <div class="col">
  <div class="user-profile compact">
      <div class="up-head-w" id="previewImagen">
        <div class="up-social">
          <a href="#"><i class="os-icon os-icon-twitter"></i></a><a href="#"><i class="os-icon os-icon-facebook"></i></a>
        </div>
        <div class="up-main-info" >
          <h2 class="up-header" id="nombrecomercialCard">
            Burguer 3x
          </h2>
          <h6 class="up-sub-header" id="nombreoficialCard">
            Product Burguer Largue
          </h6>
        </div>
        
      </div>
      <div class="up-controls">
        <div class="row">
          <div class="col-sm-6">
            <div class="value-pair">
              <div class="label">
                Estado:
              </div>
              <div class="value badge badge-pill badge-success" id="estadoCard">
                Online
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-right">
        <div class="value-pair">
              <div class="label">
                Categoria:
              </div>
              <div class="value badge badge-pill badge-success" id="categoriaCard">
                Burguers
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="up-contents">
        <div class="m-b">
          <div class="row m-b">
            <div class="col-sm-6 b-r b-b">
              <div class="el-tablo centered padded-v">
                <div class="value" >
                  $ <span id="precioCard">25</span> 
                </div>
                <div class="label" >
                  Precio oficial 
                </div>
              </div>
            </div>
            <div class="col-sm-6 b-b">
              <div class="el-tablo centered padded-v">
                <div class="value" id="cantidadCard">
                  315
                </div>
                <div class="label">
                  Cantidad Disponible
                </div>
              </div>
            </div>
          </div>
          <div class="padded">
            <div class="os-progress-bar primary">
              <div class="bar-labels">
                <div class="bar-label-left">
                  <span>Profile Completion</span><span class="positive">+10</span>
                </div>
                <div class="bar-label-right">
                  <span class="info">72/100</span>
                </div>
              </div>
              <div class="bar-level-1" style="width: 100%">
                <div class="bar-level-2" style="width: 80%">
                  <div class="bar-level-3" style="width: 30%"></div>
                </div>
              </div>
            </div>
            <div class="os-progress-bar primary">
              <div class="bar-labels">
                <div class="bar-label-left">
                  <span>Status Unlocked</span><span class="positive">+5</span>
                </div>
                <div class="bar-label-right">
                  <span class="info">45/100</span>
                </div>
              </div>
              <div class="bar-level-1" style="width: 100%">
                <div class="bar-level-2" style="width: 30%">
                  <div class="bar-level-3" style="width: 10%"></div>
                </div>
              </div>
            </div>
            <div class="os-progress-bar primary">
              <div class="bar-labels">
                <div class="bar-label-left">
                  <span>Followers</span><span class="negative">-12</span>
                </div>
                <div class="bar-label-right">
                  <span class="info">74/100</span>
                </div>
              </div>
              <div class="bar-level-1" style="width: 100%">
                <div class="bar-level-2" style="width: 80%">
                  <div class="bar-level-3" style="width: 60%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>

  </div>
</div>
      <script>

          //para la targeta
          const nombreOficialCardDOM = document.getElementById('nombreoficialCard')
          const nombreComercialCardDOM = document.getElementById('nombrecomercialCard')
          const precioCardDOM = document.getElementById('precioCard')
          const categoriaCardDOM = document.getElementById('categoriaCard')
          const estadoCardDOM = document.getElementById('estadoCard')
          const cantidadCardDOM = document.getElementById('cantidadCard')
          //para establecer un formulario dinamico
           document.getElementById('nombreoficial').addEventListener('keyup',()=>{

                                nombreOficialCardDOM.innerHTML = document.getElementById('nombreoficial').value;
                          })
           document.getElementById('nombrecomercial').addEventListener('keyup',()=>{
                                nombreComercialCardDOM.innerHTML = document.getElementById('nombrecomercial').value;
                          })
           document.getElementById('precio').addEventListener('keyup',()=>{
                                precioCardDOM.innerHTML = document.getElementById('precio').value;
                          })
           document.getElementById('categoria').addEventListener('change',()=>{
                                categoriaCardDOM.innerHTML = document.getElementById('categoria').value;
                          })
           document.getElementById('estado').addEventListener('change',()=>{
                              estadoCardDOM.innerHTML = document.getElementById('estado').value;
                          })
           document.getElementById('cantidad').addEventListener('keyup',()=>{
                            cantidadCardDOM.innerHTML = document.getElementById('cantidad').value;
                          })
                  //imagen preview
document.getElementById("imagenproduct").onchange = function(e) {
  // Creamos el objeto de la clase FileReader
  let reader = new FileReader();

  // Leemos el archivo subido y se lo pasamos a nuestro fileReader
  reader.readAsDataURL(e.target.files[0]);

  // Le decimos que cuando este listo ejecute el código interno
  reader.onload = function(){
    let preview = document.getElementById('previewImagen');
          preview.style.backgroundImage =`url('${reader.result}')`
    
  };
}
          //enviar los imputs a la targeta en tiempo rea
      </script>

