<section class="section-pedido">
  <div class="bg">
    <div class="info">
      <div class="line">
        <a href="/just-product">HOME</a>
        <span>/PEDIDO</span>
      </div>
      <h2 class="title">PEDIDO</h2>
    </div>
  </div>
  <div class="login-cupon">
    <div class="item">
      <p>
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <span>Retornar usuario? <a href="/login">click para logearse</a> </span>
      </p>
    </div>
    <div class="item">
      <p>
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <span>Tiene un cupon?<a href="/login">click para canjear</a> </span>
      </p>
    </div>
  </div>

  <div class="details-pedido">
    <div class="form-user-info">
      <h2>Informacion de usuario</h2>
      <form action="">
        <div class="form-item">
          <label for="">Nombre*</label>
          <input type="text" />
        </div>
        <div class="form-item">
          <label for="">Apellidos*</label>
          <input type="text" />
        </div>
        <div style="margin-bottom: 1em" class="form-item">
          <label for="">Nombre de compañia(opcional)*</label>
          <input type="text" />
        </div>
        <div class="form-item-select">
          <p for="">Nacionalidad*</p>
          <span style="">
            <select>
              <option value="">Seleccione..</option>
              <option value="">Peru</option>
              <option value="">Bolivia</option>
              <option value="">Chile</option>
              <option value="">Ecuador</option>
              <option value="">Argentina</option>
              <option value="">Colombia</option>
              <option value="">Venezuela</option>
              <option value="">Uruaguay</option>
            </select>
          </span>
        </div>
        <div style="margin-bottom: 1em" class="form-item">
          <label for="">Direccion*</label>
          <input type="text" />
        </div>
        <div style="margin-bottom: 1em" class="form-item">
          <label for="">Ciudad*</label>
          <input type="text" />
        </div>
        <div class="form-item-select">
          <p for="">ESTADO / DEPARTAMENTO*</p>
          <span style="">
            <select>
              <option value="">Sleccione..</option>
              <option value="">Ancash</option>
              <option value="">Tacna</option>
              <option value="">Ica</option>
              <option value="">Puno</option>
              <option value="">Lima</option>
              <option value="">MOquegua</option>
              <option value="">Arequipa</option>
            </select>
          </span>
        </div>

        <div style="margin-bottom: 1em" class="form-item">
          <label for="">Codigo postal*</label>
          <input type="text" />
        </div>
        <div
          style="margin-bottom: 1em; flex-direction: row; align-items: center"
          class="form-item"
        >
          <input type="checkbox" />
          <label for="">Crear cuenta*</label>
        </div>
        <div style="margin-bottom: 1em" class="form-item">
          <label for="">Notas para el pedido*</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
      </form>
    </div>
    <div class="form-pedido-pago">
      <div class="content-pago">
        <div style="background-color: #f0f0f0;padding:0 1em 0 1em;border-radius: 8px;" class="item">
          <span>Product</span>
          <p>SubTotal</p>
        </div>
         <div class="list-orders">
           <div class="item-order">
              <span class="info-product">
                  <p>Pizza margarita x <b>1</b> </p>
                  <small>Talla : 14 "</small>
              </span>
              <p class="price">
                $ 25.00
              </p>
           </div>

           <!---->
<div class="item-order">
              <span class="info-product">
                  <p>Pizza margarita x <b>1</b> </p>
                  <small>Talla : 14 "</small>
              </span>
              <p class="price">
                $ 25.00
              </p>
           </div>

           <!---->
<div class="item-order">
              <span class="info-product">
                  <p>Pizza margarita x <b>1</b> </p>
                  <small>Talla : 14 "</small>
              </span>
              <p class="price">
                $ 25.00
              </p>
           </div>

           <!---->
      </div>
        <div class="item">
          <span>Costo Envio</span>
          <p>Envio gratis</p>
        </div>
        <div class="item">
            <span>Total</span>
<p>$ 84.00</p>
        </div>
        <div class="item"></div>
        <form action="">
          <div class="form-item">
            <label for="">CASH ON DEIVERY</label>
            <input type="radio" name="cash" id="" />
          </div>
          <div class="form-item">
            <label for="">Stripe Credit Card</label>
            <input type="radio" name="stripe" id="" />
            <div class="container-stripe"></div>
          </div>
          <p>
            Your personal data will be used to prt-pocess your order, support your
            experience throughout this website, and for other purposes described
            in our privacy policy.
          </p>
          <div class="form-item">
            <input type="checkbox" name="" id="" />
            <span>
              I HAVE READ AND AGREE TO THE WEBSITE TERMS AND CONDITIONS *</span
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
