.section-user {
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.section-user .bg {
  height: 75vh;
  background-color: #f0f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.section-user .info {
  text-align: center;
  font-size: 12px;
  text-transform: 12px;
  padding-bottom: 3em;
}

.section-user .info h2 {
  font-size: 47px;
  color: #22272d;
}
/*---------------------------------*/
.section-user .content-info-user {
  height: 78.5vh;
  border: 1px solid red;
  display: flex;
  padding-top: 3em;
}

.section-user .navegacion-user {
  flex: 2;
  display: flex;
  justify-content: center;
}

.section-user .navegacion-user ul {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.section-user .navegacion-user ul li {
  list-style: none;
  padding: 0.5em;
}

.section-user .navegacion-user ul li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #333333;
}
.section-user .navegacion-user ul li a i {
  font-size: 20px;
}
.section-user .navegacion-user ul li a i span {

}

.section-user .user-container {
  flex: 9;
}
.section-user .user-container .dashboard-container,
.section-user .user-container .orders-container,
.section-user .user-container .addresses-container,
.section-user .user-container .payment-container,
.section-user .user-container .acount-details-container {
  display: none;
}
/*dashboard*/
.section-user .user-container .dashboard-container.active {
  display: flex;
}
